Repository tenstorrent/tt-metal, pull requests merged in 2024-03, with the labels that each got.

#5833 #5829: Use moreh_common.hpp for data movement kernels across moreh OPs
  tt_eager/tt_dnn/kernels/dataflow/moreh_common.hpp
  tt_eager/tt_dnn/op_library/moreh_clip_grad_norm/moreh_clip_grad_norm_step1/kernels/reader_moreh_clip_grad_norm_step1.cpp
  tt_eager/tt_dnn/op_library/moreh_clip_grad_norm/moreh_clip_grad_norm_step2/kernels/reader_moreh_clip_grad_norm_step2.cpp
  tt_eager/tt_dnn/op_library/moreh_clip_grad_norm/moreh_clip_grad_norm_step3/kernels/reader_moreh_clip_grad_norm_step3.cpp
  tt_eager/tt_dnn/op_library/moreh_cumsum/kernels/reader_moreh_cumsum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/kernels/dataflow/reader_moreh_groupnorm_large.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/kernels/dataflow/reader_moreh_groupnorm_small.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/kernels/dataflow/writer_moreh_groupnorm.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/gamma_beta_grad/kernels/dataflow/reader_moreh_groupnorm_backward_gamma_beta_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/gamma_beta_grad/kernels/dataflow/writer_moreh_groupnorm_backward_gamma_beta_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/input_grad/kernels/dataflow/reader_moreh_groupnorm_backward_input_grad_large.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/input_grad/kernels/dataflow/reader_moreh_groupnorm_backward_input_grad_small.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/input_grad/kernels/dataflow/writer_moreh_groupnorm_backward_input_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/reader_moreh_layernorm_large.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/reader_moreh_layernorm_small.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/reader_moreh_layernorm_backward_gamma_beta_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/reader_moreh_layernorm_backward_input_grad_large.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/reader_moreh_layernorm_backward_input_grad_small.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/kernels/reader_moreh_bias_backward_h.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/kernels/reader_moreh_bias_backward_hw.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_mean/kernels/reader_moreh_mean_h.cpp
  tt_eager/tt_dnn/op_library/moreh_mean/kernels/reader_moreh_mean_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_mean/kernels/reader_moreh_mean_w.cpp
  tt_eager/tt_dnn/op_library/moreh_mean/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_mean_backward/kernels/reader_moreh_mean_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_mean_backward/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/kernel_utils/common.hpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/kernels/reader_moreh_nll_loss_step1.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step2/kernels/reader_moreh_nll_loss_step2.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/kernel_utils/common.hpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward/kernels/reader_moreh_nll_loss_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/kernel_utils/common.hpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_h/kernels/reader_moreh_norm_h.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_other/kernels/reader_moreh_norm_other.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_w/kernels/reader_moreh_norm_w.cpp
  tt_eager/tt_dnn/op_library/moreh_norm_backward/kernels/reader_moreh_norm_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/kernels/common.hpp
  tt_eager/tt_dnn/op_library/moreh_sgd/kernels/reader_moreh_sgd.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/kernels/writer_moreh_sgd.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/common.hpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/reader_moreh_softmax_h.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/reader_moreh_softmax_h_large.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/reader_moreh_softmax_w.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/reader_moreh_softmax_w_large.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax_backward/kernels/common.hpp
  tt_eager/tt_dnn/op_library/moreh_softmax_backward/kernels/reader_moreh_softmax_backward_h.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax_backward/kernels/reader_moreh_softmax_backward_h_large.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax_backward/kernels/reader_moreh_softmax_backward_w.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax_backward/kernels/reader_moreh_softmax_backward_w_large.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/reader_moreh_sum_h.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/reader_moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/reader_moreh_sum_w.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/kernels/reader_moreh_sum_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/kernels/utils.hpp
Labels: moreh

#6213 #6204: added support for num_users < 32 for update cache op.
  tests/tt_eager/python_api_testing/unit_testing/misc/test_update_cache.py
  tt_eager/tt_dnn/op_library/update_cache/kernels/compute/update_cache.cpp
  tt_eager/tt_dnn/op_library/update_cache/kernels/dataflow/reader_update_cache_interleaved_start_id.cpp
  tt_eager/tt_dnn/op_library/update_cache/kernels/dataflow/writer_update_cache_interleaved_start_id.cpp
  tt_eager/tt_dnn/op_library/update_cache/multi_core/update_cache_op_multi_core.cpp
  tt_eager/tt_dnn/op_library/update_cache/single_core/update_cache_op_single_core.cpp
  tt_eager/tt_dnn/op_library/update_cache/update_cache_op.cpp
Labels: feature, LLM_feature

#6438 #5163: Change are_needed_outputs -> are_required_outputs
  tt_eager/tt_dnn/op_library/moreh_groupnorm/moreh_groupnorm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/moreh_groupnorm_op.hpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/moreh_groupnorm_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/moreh_groupnorm_backward_op.hpp
Labels: moreh

#6441 #5163: Update MorehGroupNormBackwardGammaBetaGrad
  tt_eager/tt_dnn/op_library/moreh_groupnorm/moreh_groupnorm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/moreh_groupnorm_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/moreh_groupnorm_backward_op.hpp
Labels: moreh

#6473 Non-zero indices op
  tests/tt_eager/python_api_testing/unit_testing/misc/test_non_zero.py
  tt_eager/tt_dnn/module.mk
  tt_eager/tt_dnn/op_library/non_zero_indices/kernels/dataflow/non_zero_indices_sc_reader.cpp
  tt_eager/tt_dnn/op_library/non_zero_indices/non_zero_indices_op.cpp
  tt_eager/tt_dnn/op_library/non_zero_indices/non_zero_indices_op.hpp
  tt_eager/tt_dnn/op_library/non_zero_indices/single_core/non_zero_indices_op_single_core.cpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_dm_ops.cpp
Labels: P1_feature_needed

#6333 #6282: Add AdamW
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_adamw.py
  tt_eager/tt_dnn/module.mk
  tt_eager/tt_dnn/op_library/moreh_adamw/kernels/moreh_adamw.cpp
  tt_eager/tt_dnn/op_library/moreh_adamw/kernels/reader_moreh_adamw.cpp
  tt_eager/tt_dnn/op_library/moreh_adamw/kernels/writer_moreh_adamw.cpp
  tt_eager/tt_dnn/op_library/moreh_adamw/moreh_adamw.cpp
  tt_eager/tt_dnn/op_library/moreh_adamw/moreh_adamw_op.cpp
  tt_eager/tt_dnn/op_library/moreh_adamw/moreh_adamw_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#6574 #6572: Fix `ttnn.repeat_interleave` example in documentation
  ttnn/ttnn/operations/data_movement.py
Labels: docs, metal

#6768 Add get_compute_kernel_config_args function
  tt_eager/tt_dnn/op_library/compute_kernel_config.hpp
Labels: moreh

#6831 #6823: Fix core count to not include dispatch cores in op reprot
  scripts/tools_setup_common.sh
  tests/scripts/run_profiler_regressions.sh
  tt_eager/tracy.py
  tt_metal/tools/profiler/process_ops_logs.py
Labels: tracy profiler

#6824 #6757: Remove set_profiler_location
  models/demos/bert/demo/demo.py
  models/demos/falcon40b/demo/demo.py
  models/demos/falcon40b/tests/test_falcon_causallm.py
  models/demos/falcon40b/tests/test_falcon_end_to_end.py
  models/demos/falcon40b/tests/test_perf_falcon.py
  models/demos/falcon7b/demo/demo.py
  models/demos/falcon7b/tests/test_falcon_causallm.py
  models/demos/falcon7b/tests/test_falcon_end_to_end.py
  models/demos/falcon7b/tests/test_falcon_prefill_decode.py
  models/demos/falcon7b/tests/test_perf_falcon.py
  models/demos/falcon7b/tests/unit_tests/test_falcon_attn_matmul.py
  models/demos/falcon7b/tests/unit_tests/test_falcon_matmuls_and_bmms_with_mixed_precision.py
  models/demos/llama2_70b/tests/test_llama_perf.py
  models/demos/metal_BERT_large_11/demo/demo.py
  models/demos/metal_BERT_large_11/tests/test_bert_batch_dram.py
  models/demos/metal_BERT_large_11/tests/test_bert_encoder.py
  models/demos/metal_BERT_large_11/tests/test_ffn.py
  models/demos/metal_BERT_large_11/tests/test_mha.py
  models/demos/ttnn_falcon7b/demo/demo.py
  models/demos/ttnn_falcon7b/tests/test_falcon_causallm.py
  models/demos/ttnn_falcon7b/tests/test_perf_falcon.py
  models/demos/ttnn_falcon7b/tests/unit_tests/test_falcon_attn_matmul.py
  models/demos/ttnn_falcon7b/tests/unit_tests/test_falcon_matmuls_and_bmms_with_mixed_precision.py
  models/experimental/bert_large_performant/unit_tests/fused_ops/test_bert_large_fused_ln.py
  models/experimental/bert_large_performant/unit_tests/fused_ops/test_bert_large_fused_softmax.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_concatenate_heads.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_ff1_matmul.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_ff2_matmul.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_fused_qkv_matmul.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_matmuls_and_bmms_with_mixed_precision.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_post_softmax_bmm.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_pre_softmax_bmm.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_selfout_matmul.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_split_and_transform_qkv_heads.py
  models/experimental/bert_large_performant/unit_tests/test_bert_large_split_query_key_value_and_split_heads.py
  tests/scripts/parse_profile_logs.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_nlp_concat_heads.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_nlp_create_qkv_heads.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_split_any_dim_two_chunks_tiled.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_split_last_dim_two_chunks_tiled.py
  tt_eager/tt_lib/csrc/tt_lib_bindings.cpp
  tt_metal/tools/profiler/op_profiler.hpp
Labels: tracy profiler
