Repository tenstorrent/tt-metal, pull requests merged in 2024-02, with the labels that each got.

#4062 #4061: Add moreh_bmm and moreh_linear ops
  tests/tt_eager/ops/test_moreh_matmul_op.cpp
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_bmm.py
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_linear.py
  tt_eager/tt_dnn/module.mk
  tt_eager/tt_dnn/op_library/moreh_bmm/moreh_bmm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_bmm/moreh_bmm_op.hpp
  tt_eager/tt_dnn/op_library/moreh_bmm_backward/moreh_bmm_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_bmm_backward/moreh_bmm_backward_op.hpp
  tt_eager/tt_dnn/op_library/moreh_linear/moreh_linear_op.cpp
  tt_eager/tt_dnn/op_library/moreh_linear/moreh_linear_op.hpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/bias_backward_h/moreh_bias_backward_multi_core_h.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/bias_backward_hw/moreh_bias_backward_single_core_hw.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/kernels/moreh_bias_backward_multi_core_h.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/kernels/moreh_bias_backward_single_core_hw.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/kernels/reader_moreh_bias_backward_h.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/kernels/reader_moreh_bias_backward_hw.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/kernels/writer_moreh_bias_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/moreh_linear_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/moreh_linear_backward_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#5490 #5056: Impl moreh_groupnorm
  docs/source/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_groupnorm.py
  tt_eager/tt_dnn/module.mk
  tt_eager/tt_dnn/op_library/moreh_groupnorm/kernel_utils/common.hpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/kernels/dataflow/reader_moreh_groupnorm_large.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/kernels/dataflow/reader_moreh_groupnorm_small.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/kernels/dataflow/writer_moreh_groupnorm.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/moreh_groupnorm.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/moreh_groupnorm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/moreh_groupnorm_op.hpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/gamma_beta_grad/kernels/dataflow/reader_moreh_groupnorm_backward_gamma_beta_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/gamma_beta_grad/kernels/dataflow/writer_moreh_groupnorm_backward_gamma_beta_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/gamma_beta_grad/moreh_groupnorm_backward_gamma_beta_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/input_grad/kernels/dataflow/reader_moreh_groupnorm_backward_input_grad_large.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/input_grad/kernels/dataflow/reader_moreh_groupnorm_backward_input_grad_small.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/input_grad/kernels/dataflow/writer_moreh_groupnorm_backward_input_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/input_grad/moreh_groupnorm_backward_input_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/moreh_groupnorm_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/moreh_groupnorm_backward_op.hpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/moreh_layernorm_large_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/moreh_layernorm_small_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/reader_moreh_layernorm_small.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/moreh_layernorm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/gamma_beta_grad/moreh_layernorm_backward_gamma_beta_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/input_grad/moreh_layernorm_backward_input_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/moreh_layernorm_backward_gamma_beta_grad_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/moreh_layernorm_backward_input_grad_large_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/moreh_layernorm_backward_input_grad_small_kernel.cpp
  tt_eager/tt_dnn/op_library/operation.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#5371 #5113: Added generation function which excludes ranges
  tests/tt_eager/python_api_testing/sweep_tests/generation_funcs.py
Labels: feature-request

#5634 #5633: Add moreh_nll_loss op to tt_dnn
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_nll_loss.py
  tt_eager/tt_dnn/module.mk
  tt_eager/tt_dnn/op_library/moreh_nll_loss/kernel_utils/common.hpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_op.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_op.hpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/kernels/moreh_nll_loss_step1_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/kernels/reader_moreh_nll_loss_step1.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/kernels/writer_moreh_nll_loss_step1.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/moreh_nll_loss_step1.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step2/kernels/moreh_nll_loss_step2_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step2/kernels/reader_moreh_nll_loss_step2.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step2/kernels/writer_moreh_nll_loss_step2.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step2/moreh_nll_loss_step2.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/kernel_utils/common.hpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward/kernels/moreh_nll_loss_backward_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward/kernels/reader_moreh_nll_loss_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward/kernels/writer_moreh_nll_loss_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward/moreh_nll_loss_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward_op.hpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_h/moreh_sum_h.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_w/moreh_sum_w.cpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#5703 #5666: Adding more kernel info to op reports
  tt_eager/tt_dnn/op_library/all_gather/all_gather_op.cpp
  tt_eager/tt_dnn/op_library/run_operation.cpp
  tt_metal/tools/profiler/common.py
  tt_metal/tools/profiler/op_profiler.hpp
  tt_metal/tools/profiler/process_ops_logs.py
Labels: performance monitoring
