Repository tenstorrent/tt-metal, pull requests merged in 2024-08, with the labels that each got.

#10816 #10815: Update the composite ops with ttnn support
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/non_working_unit_tests/grayskull/test_eltwise_logical_and_.py
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tests/ttnn/profiling/ops_for_profiling.py
  tests/ttnn/python_api_testing/sweep_tests/ttnn_ops.py
  tests/ttnn/sweep_tests/sweeps/sweeps/hardshrink.py
  tests/ttnn/sweep_tests/sweeps/sweeps/logit.py
  tests/ttnn/sweep_tests/sweeps/sweeps/softshrink.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Labels: op_cat: eltwise, MCW, ttnn-merge

#10888 Mchiou/10800 integrate blackhole into workflows
  .github/actions/prepare-metal-run/action.yml
  .github/pull_request_template.md
  .github/workflows/all-post-commit-workflows.yaml
  .github/workflows/blackhole-post-commit.yaml
  .github/workflows/build-and-unit-tests-wrapper.yaml
  .github/workflows/build-and-unit-tests.yaml
  .github/workflows/cpp-post-commit-wrapper.yaml
  .github/workflows/cpp-post-commit.yaml
  .github/workflows/fast-dispatch-build-and-unit-tests-wrapper.yaml
  .github/workflows/fast-dispatch-build-and-unit-tests.yaml
  .github/workflows/models-post-commit-wrapper.yaml
  .github/workflows/models-post-commit.yaml
  .github/workflows/ttnn-post-commit-wrapper.yaml
  .github/workflows/ttnn-post-commit.yaml
Labels: infra-ci, blackhole

#11074 Generalizing sharding support in CCLs
  tests/scripts/run_tt_eager.py
  tests/tt_eager/CMakeLists.txt
  tests/tt_eager/ops/ccl/test_all_gather_sharded_indexing_helpers.cpp
  tests/tt_eager/ops/ccl/test_all_gather_utils.cpp
  tests/tt_eager/ops/ccl/test_ccl_tensor_slicers.cpp
  tests/ttnn/unit_tests/operations/test_all_gather.py
  tests/ttnn/unit_tests/operations/test_reduce_scatter_post_commit.py
  tt_metal/impl/buffers/buffer.hpp
  tt_metal/impl/buffers/buffer_constants.hpp
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_op.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_receive_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_send_reader.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_send_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_ring_gather_utils.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_sharded_ring_gather_receive_reader.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_sharded_ring_gather_receive_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_sharded_ring_gather_send_reader.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_sharded_ring_gather_send_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/multi_core/all_gather_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_common.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_common.hpp
  ttnn/cpp/ttnn/operations/ccl/ccl_host_datastructures.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_host_datastructures.hpp
  ttnn/cpp/ttnn/operations/ccl/line_all_gather/device/line_all_gather_op.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/host/reduce_scatter_full_worker_grid.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/kernels/worker_interleaved_ring_reduce_scatter_reader.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/kernels/worker_interleaved_ring_reduce_scatter_sender.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/reduce_scatter_op.cpp
  ttnn/cpp/ttnn/operations/ccl/shared_with_host/hetergeneous_data_structs.hpp
  ttnn/cpp/ttnn/operations/ccl/shared_with_host/sharded_tensor_addr_gen.hpp
Labels: feature, op_cat: ccl

#11080 Add PACK, MATH, UNPACK kernels information to METALIUM_GUIDE.md
  METALIUM_GUIDE.md
Labels: community

#10948 #10682: Generate run/measurement CSVs for Mamba single-card demo test
  models/demos/wormhole/mamba/README.md
  models/demos/wormhole/mamba/demo/demo.py
  models/demos/wormhole/mamba/demo/prompts.json
  models/demos/wormhole/mamba/reference/args.py
  models/demos/wormhole/mamba/tests/test_mamba_demo.py
  models/demos/wormhole/mamba/tests/test_mamba_perf.py
  models/demos/wormhole/mamba/tests/test_preprocessing.py
  models/demos/wormhole/mamba/tt/mamba_ssm.py
  models/demos/wormhole/mamba/tt/model_config.py
  models/demos/wormhole/mamba/tt/preprocessing.py
  tests/scripts/single_card/run_demos_single_card_wh_common.sh
Labels: mamba

#11060 Add Batching to Mistral 7B
  models/demos/wormhole/mistral7b/demo/demo.py
  models/demos/wormhole/mistral7b/demo/demo_with_prefill.py
  models/demos/wormhole/mistral7b/tests/test_mistral_model.py
  models/demos/wormhole/mistral7b/tt/mistral_attention.py
  models/demos/wormhole/mistral7b/tt/mistral_decoder.py
Labels: P0_Showstopper, mistral, LLM_bug

#11248 Fix OOM error in Mamba end-to-end perf tests
  models/demos/wormhole/mamba/demo/demo.py
  models/demos/wormhole/mamba/tests/test_mamba_block.py
  models/demos/wormhole/mamba/tests/test_mamba_perf.py
  models/demos/wormhole/mamba/tests/test_mamba_perplexity.py
  models/demos/wormhole/mamba/tt/mamba_ssm.py
Labels: bug, mamba

#11352 #11349: Add missing include in `kernel_types.hpp`
  tt_metal/impl/kernels/kernel_types.hpp
Labels: moreh

#11231 Implementing all_gather to datacopy signaling
  tests/scripts/t3000/run_t3000_frequent_tests.sh
  tests/ttnn/unit_tests/operations/test_all_gather_matmul.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_op.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_receive_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/multi_core/all_gather_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/ccl/kernel_common/worker_sync_utils.hpp
  ttnn/cpp/ttnn/operations/ccl/shared_with_host/hetergeneous_data_structs.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/all_gather_matmul_pybind.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/all_gather_matmul_pybind.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/all_gather_matmul_op.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/kernels/datacopy.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/multi_core/all_gather_matmul_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ccl_op_fusion.hpp
  ttnn/cpp/ttnn/operations/experimental/experimental_pybind.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.hpp
Labels: LLM_feature, LLMs on Metal, op_cat: ccl

#11003 Add Llama3.1-8B tests to CI
  models/demos/wormhole/llama31_8b/demo/demo.py
  models/demos/wormhole/llama31_8b/demo/demo_with_prefill.py
  models/demos/wormhole/llama31_8b/demo/expected_outputs.json
  models/demos/wormhole/llama31_8b/demo/expected_outputs_prefill_128.json
  models/demos/wormhole/llama31_8b/scripts/get_llama_weights.py
  models/demos/wormhole/llama31_8b/tests/test_llama_attention.py
  models/demos/wormhole/llama31_8b/tests/test_llama_attention_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_decoder.py
  models/demos/wormhole/llama31_8b/tests/test_llama_decoder_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_embedding.py
  models/demos/wormhole/llama31_8b/tests/test_llama_mlp.py
  models/demos/wormhole/llama31_8b/tests/test_llama_model.py
  models/demos/wormhole/llama31_8b/tests/test_llama_model_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_perf.py
  models/demos/wormhole/llama31_8b/tests/test_llama_rms_norm.py
  models/demos/wormhole/llama31_8b/tests/test_llama_torch.py
  models/demos/wormhole/llama31_8b/tt/llama_attention.py
  models/demos/wormhole/llama31_8b/tt/llama_mlp.py
  models/demos/wormhole/llama31_8b/tt/llama_model.py
  models/demos/wormhole/llama31_8b/tt/model_config.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_attention.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_attention_prefill.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_decoder.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_decoder_prefill.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_mlp.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_rms_norm.py
  tests/scripts/run_performance.sh
  tests/scripts/single_card/run_demos_single_card_wh_common.sh
Labels: P1_critical, LLM_feature, llama3

#10689 Migrate `ssm_1d_sum_reduce` to `ttnn`
  models/demos/wormhole/mamba/tt/mamba_ssm.py
  tests/ttnn/unit_tests/operations/test_ssm_1d_sum_reduce.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/transformer_tms.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/transformers/module.hpp
  ttnn/cpp/ttnn/operations/experimental/experimental_pybind.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/device/hc_sum_reduce_op.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/device/hc_sum_reduce_op.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/device/hc_sum_reduce_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/device/hc_sum_reduce_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/device/kernels/reader_ssm_1d_sum_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/device/kernels/ssm_1d_sum_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/device/kernels/writer_ssm_1d_sum_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/hc_sum_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/hc_sum_reduce.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/hc_sum_reduce_pybind.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/hc_sum_reduce_pybind.hpp
Labels: ttnn-merge

#11724 Llama3.1 70b Prefill - MLP and Attention
  models/demos/t3000/llama2_70b/tt/model_config.py
  models/demos/tg/llama3_70b/tests/test_llama_attention_galaxy.py
  models/demos/tg/llama3_70b/tests/test_llama_mlp_galaxy.py
  models/demos/tg/llama3_70b/tt/llama_attention_galaxy.py
  models/demos/tg/llama3_70b/tt/llama_mlp_galaxy.py
Labels: LLMs on Metal, llama3, llm_tg

#11902 #11706: Use new Conv2D API in UNet Shallow
  models/experimental/functional_unet/README.md
  models/experimental/functional_unet/demo/demo.py
  models/experimental/functional_unet/tests/test_unet_bottleneck.py
  models/experimental/functional_unet/tests/test_unet_downblock.py
  models/experimental/functional_unet/tests/test_unet_model.py
  models/experimental/functional_unet/tests/test_unet_output_layer.py
  models/experimental/functional_unet/tests/test_unet_shallow_functional.py
  models/experimental/functional_unet/tests/test_unet_shallow_performance.py
  models/experimental/functional_unet/tests/test_unet_upblock.py
  models/experimental/functional_unet/tt/conv_blocks.py
  models/experimental/functional_unet/tt/model_preprocessing.py
  models/experimental/functional_unet/tt/unet_shallow_torch.py
  models/experimental/functional_unet/tt/unet_shallow_ttnn.py
  models/experimental/functional_unet/unet_utils.py
  tests/nightly/wh_b0_only_eth/experimental/functional_unet/tests/test_unet_bottleneck.py
  tests/nightly/wh_b0_only_eth/experimental/functional_unet/tests/test_unet_downblock.py
  tests/nightly/wh_b0_only_eth/experimental/functional_unet/tests/test_unet_model.py
  tests/nightly/wh_b0_only_eth/experimental/functional_unet/tests/test_unet_output_layer.py
  tests/nightly/wh_b0_only_eth/experimental/functional_unet/tests/test_unet_shallow_functional.py
  tests/nightly/wh_b0_only_eth/experimental/functional_unet/tests/test_unet_upblock.py
Labels: CNNs, CNN_feature, Unet-Shallow

#11776 #11430: Refactoring moreh_mean
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_mean.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_nll_loss.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_norm.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_utils.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_helper_functions.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_helper_functions.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/kernels/moreh_mean_h.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/kernels/moreh_mean_nc.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/kernels/moreh_mean_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/kernels/reader_moreh_mean_h.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/kernels/reader_moreh_mean_nc.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/kernels/reader_moreh_mean_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/moreh_mean_h/moreh_mean_h.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/moreh_mean_nc/moreh_mean_nc.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/moreh_mean_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/moreh_mean_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/moreh_mean_w/moreh_mean_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean_backward/kernels/moreh_mean_backward.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean_backward/kernels/reader_moreh_mean_backward.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean_backward/kernels/writer_moreh_mean_backward.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean_backward/moreh_mean_backward.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean_backward/moreh_mean_backward_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean_backward/moreh_mean_backward_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_norm_backward/moreh_norm_backward_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sum/moreh_sum_h_impl/moreh_sum_h_impl.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sum/moreh_sum_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sum/moreh_sum_w_impl/moreh_sum_w_impl.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/kernels/writer_moreh_sum_backward.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/moreh_sum_backward_impl.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/module.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/fast_reduce_nc/device/fast_reduce_nc_program_factory.cpp
Labels: moreh

#11760 Fused AllGather+Matmul
  tests/ttnn/unit_tests/operations/test_all_gather_matmul.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_receive_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_send_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/multi_core/all_gather_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_op_fusion.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_op_fusion.hpp
  ttnn/cpp/ttnn/operations/ccl/kernel_common/worker_sync_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/all_gather_matmul.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/all_gather_matmul.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/all_gather_matmul_pybind.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/all_gather_matmul_op.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/kernels/datacopy.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/multi_core/all_gather_matmul_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ccl_op_fusion.hpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_receiver_padding_block_sharded.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_writer_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.hpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op_multi_core_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op_multi_core_reuse_mcast_2d_program_factory.cpp
Labels: LLM_feature, LLMs on Metal, op_cat: ccl

#12126 #12124: support moreh_nll_loss support large wight
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_nll_loss.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/kernels/reader_moreh_nll_loss_step1_large.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/moreh_nll_loss_step1.cpp
Labels: moreh
