Repository tenstorrent/tt-metal, pull requests merged in 2024-12, with the labels that each got.

#15512 Update INSTALLING.md
  INSTALLING.md
Labels: doc_cat: ttnn

#15559 Add new Hal API "valid_reg_addr"
  tt_metal/impl/debug/sanitize_noc_host.hpp
  tt_metal/llrt/blackhole/bh_hal.cpp
  tt_metal/llrt/grayskull/gs_hal.cpp
  tt_metal/llrt/hal.hpp
  tt_metal/llrt/wormhole/wh_hal.cpp
Labels: cleanup, arch_name

#15645 Add new HAL APIs
  tt_metal/impl/device/device.cpp
  tt_metal/llrt/blackhole/bh_hal.cpp
  tt_metal/llrt/grayskull/gs_hal.cpp
  tt_metal/llrt/hal.hpp
  tt_metal/llrt/wormhole/wh_hal.cpp
Labels: cleanup, arch_name

#15676 Remove inclusion of ARCH_NAME include from command_queue.cpp
  tt_metal/impl/dispatch/command_queue.cpp
Labels: cleanup, arch_name

#15679 Add get_num_nocs() to Hal
  tt_metal/impl/debug/watcher_device_reader.cpp
  tt_metal/impl/debug/watcher_server.cpp
  tt_metal/llrt/blackhole/bh_hal.cpp
  tt_metal/llrt/grayskull/gs_hal.cpp
  tt_metal/llrt/hal.hpp
  tt_metal/llrt/wormhole/wh_hal.cpp
Labels: cleanup, arch_name

#15327 Llama3 feature-complete (batch 32 / long seqlen / paged attention
  .github/workflows/t3000-demo-tests-impl.yaml
  .github/workflows/t3000-frequent-tests-impl.yaml
  .github/workflows/t3000-model-perf-tests-impl.yaml
  .github/workflows/t3000-unit-tests-impl.yaml
  models/demos/llama3/README.md
  models/demos/llama3/demo/demo.py
  models/demos/llama3/demo/input_data_long.json
  models/demos/llama3/demo/input_data_long_128k.json
  models/demos/llama3/demo/input_data_long_32k.json
  models/demos/llama3/demo/input_data_long_64k.json
  models/demos/llama3/demo/simple_vision_demo.py
  models/demos/llama3/lt
  models/demos/llama3/tests/multimodal/test_llama_cross_attention_transformer_text.py
  models/demos/llama3/tests/multimodal/test_llama_cross_block.py
  models/demos/llama3/tests/test_interleaved_to_sharded.py
  models/demos/llama3/tests/test_llama_accuracy.py
  models/demos/llama3/tests/test_llama_attention.py
  models/demos/llama3/tests/test_llama_attention_prefill.py
  models/demos/llama3/tests/test_llama_decoder.py
  models/demos/llama3/tests/test_llama_decoder_prefill.py
  models/demos/llama3/tests/test_llama_embedding.py
  models/demos/llama3/tests/test_llama_mlp.py
  models/demos/llama3/tests/test_llama_model.py
  models/demos/llama3/tests/test_llama_model_prefill.py
  models/demos/llama3/tests/test_llama_perf.py
  models/demos/llama3/tests/test_llama_rms_norm.py
  models/demos/llama3/tests/test_lm_head.py
  models/demos/llama3/tt/llama_attention.py
  models/demos/llama3/tt/llama_common.py
  models/demos/llama3/tt/llama_decoder.py
  models/demos/llama3/tt/llama_model.py
  models/demos/llama3/tt/llama_rope.py
  models/demos/llama3/tt/model_config.py
  tests/scripts/run_performance.sh
  tests/scripts/t3000/run_t3000_model_perf_tests.sh
  tests/tt_eager/python_api_testing/unit_testing/misc/test_rotary_embedding_llama.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_rotary_embedding_llama_fused_qk.py
Labels: P1, LLMs on Metal, llama3

#15254 [Tech report] Model components
  tech_reports/LLMs/images/2.6-decoder.png
  tech_reports/LLMs/images/2.7-lm-head.png
  tech_reports/LLMs/images/2.8-llama-model.png
  tech_reports/LLMs/llms.md
Labels: LLMs on Metal

#15501 #15498: changed read and compute kernels for height reduction
  tests/ttnn/unit_tests/operations/test_reduction_h_interleaved.py
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce_h.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/reader_unary_transpose_wh_interleaved_input_cols_partitioned.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/multi_core_h/reduce_op_multi_core_h.cpp
Labels: op_cat: reduces, forge

#15046 compiler interface :: poc - unary, relu, add, softmax, matmul
  tests/ttnn/unit_tests/gtests/CMakeLists.txt
  tests/ttnn/unit_tests/gtests/test_graph_query_op_constraints.cpp
  ttnn/cpp/ttnn/graph/graph_query_op_constraints.hpp
Labels: forge

#15135 #: added tech report for attention module section
  tech_reports/LLMs/llms.md
Labels: LLMs on Metal

#15763 [tt-train] Add multiple options for positional embedding
  tt-train/configs/training_shakespear_nanogpt.yaml
  tt-train/sources/examples/nano_gpt/main.cpp
  tt-train/sources/ttml/models/gpt2.cpp
  tt-train/sources/ttml/models/gpt2.hpp
  tt-train/sources/ttml/modules/positional_embeddings.cpp
  tt-train/sources/ttml/modules/positional_embeddings.hpp
  tt-train/sources/ttml/ops/binary_ops.cpp
  tt-train/sources/ttml/ops/binary_ops.hpp
  tt-train/tests/model/nano_gpt_test.cpp
  tt-train/tests/ops/positional_embedding_test.cpp
Labels: TT-train

#15793 [tt-train] Adjust tests due to positional embedding changes
  tt-train/tests/model/nano_gpt_test.cpp
Labels: TT-train

#15813 Update conv2d sweep suite.
  tests/sweep_framework/sweeps/conv2d/short/conv2d_short_sweep.py
Labels: CNNs

#15806 Don't use tensix_types.h in ttnn
  ttnn/cpp/ttnn/operations/core/compute_kernel/compute_kernel_config.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/create_qkv_heads/device/create_qkv_heads_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/create_qkv_heads_from_separate_tensors/device/create_qkv_heads_from_separate_tensors_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_op.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_program_factory.hpp
Labels: cleanup, arch_name

#15817 #15816: Fix grid size error for flash decode gqa
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Labels: P1

#15637 [TT-Train]Added mappers updated tt tensor utils
  tt-train/cmake/dependencies.cmake
  tt-train/sources/ttml/CMakeLists.txt
  tt-train/sources/ttml/autograd/auto_context.cpp
  tt-train/sources/ttml/autograd/auto_context.hpp
  tt-train/sources/ttml/core/distributed_mapping.hpp
  tt-train/sources/ttml/core/indestructible.hpp
  tt-train/sources/ttml/core/mesh_device.cpp
  tt-train/sources/ttml/core/mesh_device.hpp
  tt-train/sources/ttml/core/tt_tensor_utils.cpp
  tt-train/sources/ttml/core/tt_tensor_utils.hpp
  tt-train/sources/ttml/core/ttnn_all_includes.hpp
  tt-train/sources/ttml/core/xtensor_all_includes.hpp
  tt-train/sources/ttml/core/xtensor_utils.cpp
  tt-train/sources/ttml/core/xtensor_utils.hpp
  tt-train/tests/3rd_party/xtensor_test.cpp
  tt-train/tests/core/distributed_test.cpp
  tt-train/tests/core/n300_utils_test.cpp
  tt-train/tests/core/tensor_utils_test.cpp
Labels: TT-train

#15778 [Llama3] Add test-accuracy to CI
  .github/workflows/t3000-frequent-tests-impl.yaml
  models/demos/llama3/PERF.md
  tests/scripts/single_card/run_single_card_demo_tests.sh
  tests/scripts/t3000/run_t3000_frequent_tests.sh
Labels: P1, llama3

#15814 Refactor tensor_utils.cpp.
  ttnn/cpp/ttnn/tensor/tensor_utils.cpp
  ttnn/cpp/ttnn/tensor/tensor_utils.hpp
Labels: CNNs

#15937 [tt-train] GPT2-S Matmul tests
  tt-train/tests/model/gpt2s_test.cpp
Labels: op_cat: mm, TT-train

#15897 Fix moreh_clip_grad_norm
  tests/ttnn/unit_tests/operations/test_moreh_clip_grad_norm.py
  ttnn/cpp/ttnn/operations/moreh/moreh_clip_grad_norm/moreh_clip_grad_norm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_clip_grad_norm/moreh_clip_grad_norm_step1/device/kernels/moreh_clip_grad_norm_step1_kernel.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_clip_grad_norm/moreh_clip_grad_norm_step2/device/kernels/moreh_clip_grad_norm_step2_kernel.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_clip_grad_norm/moreh_clip_grad_norm_step2/device/moreh_clip_grad_norm_step2_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_clip_grad_norm/moreh_clip_grad_norm_step3/device/kernels/moreh_clip_grad_norm_step3_kernel.cpp
Labels: bug, moreh

#15625 [TT-Train] Added LR Schedulers and updated serialization
  tt-train/sources/examples/mnist_mlp/main.cpp
  tt-train/sources/examples/mnist_mlp/utils.hpp
  tt-train/sources/examples/nano_gpt/main.cpp
  tt-train/sources/examples/nano_gpt/utils.cpp
  tt-train/sources/examples/nano_gpt/utils.hpp
  tt-train/sources/ttml/autograd/module_base.cpp
  tt-train/sources/ttml/autograd/module_base.hpp
  tt-train/sources/ttml/optimizers/adamw.cpp
  tt-train/sources/ttml/optimizers/adamw.hpp
  tt-train/sources/ttml/optimizers/optimizer_base.cpp
  tt-train/sources/ttml/optimizers/optimizer_base.hpp
  tt-train/sources/ttml/optimizers/sgd.cpp
  tt-train/sources/ttml/optimizers/sgd.hpp
  tt-train/sources/ttml/schedulers/lambda_scheduler.cpp
  tt-train/sources/ttml/schedulers/lambda_scheduler.hpp
  tt-train/sources/ttml/schedulers/linear_scheduler.cpp
  tt-train/sources/ttml/schedulers/linear_scheduler.hpp
  tt-train/sources/ttml/schedulers/scheduler_base.cpp
  tt-train/sources/ttml/schedulers/scheduler_base.hpp
  tt-train/sources/ttml/schedulers/sequential_scheduler.cpp
  tt-train/sources/ttml/schedulers/sequential_scheduler.hpp
  tt-train/sources/ttml/schedulers/step_scheduler.cpp
  tt-train/sources/ttml/schedulers/step_scheduler.hpp
  tt-train/sources/ttml/serialization/msgpack_file.cpp
  tt-train/sources/ttml/serialization/msgpack_file.hpp
  tt-train/sources/ttml/serialization/serializable.hpp
  tt-train/sources/ttml/serialization/serialization.cpp
  tt-train/sources/ttml/serialization/serialization.hpp
  tt-train/sources/ttml/ttnn_fixed/trivial_ttnn_ops.hpp
  tt-train/tests/autograd/module_base_parameters_test.cpp
  tt-train/tests/model/linear_regression_full_test.cpp
  tt-train/tests/schedulers/schedulers_test.cpp
Labels: TT-train

#15951 [tt-train] Add BPE tokenizer option
  tt-train/configs/training_shakespear_nanogpt_bpe.yaml
  tt-train/sources/examples/nano_gpt/main.cpp
  tt-train/sources/ttml/CMakeLists.txt
  tt-train/sources/ttml/core/tt_tensor_utils.cpp
  tt-train/sources/ttml/datasets/utils.cpp
  tt-train/sources/ttml/datasets/utils.hpp
  tt-train/sources/ttml/tokenizers/bpe_tokenizer.hpp
  tt-train/sources/ttml/tokenizers/char_tokenizer.hpp
  tt-train/sources/ttml/tokenizers/char_tokenizer_trainer.cpp
  tt-train/sources/ttml/tokenizers/char_tokenizer_trainer.hpp
  tt-train/sources/ttml/tokenizers/tokenizer_base.hpp
  tt-train/tests/core/tensor_utils_test.cpp
  tt-train/tests/model/gpt2s_test.cpp
  tt-train/tests/model/nano_gpt_test.cpp
  tt-train/tests/tokenizers/char_tokenizer_trainer_test.cpp
Labels: TT-train

#16069 [tt-train] Add option to disable wandb in examples
  tt-train/README.md
  tt-train/sources/examples/nano_gpt/main.cpp
Labels: TT-train

#15124 #0: added normalization details in the tech report
  tech_reports/LLMs/llms.md
Labels: LLMs on Metal

#15096 Add prefill v decode section to LLM tech report [section 3.2]
  tech_reports/LLMs/llms.md
Labels: LLMs on Metal

#16152 [TT-Train ]added tests for sum and mean
  tt-train/sources/ttml/ttnn_fixed/trivial_ttnn_ops.cpp
  tt-train/sources/ttml/ttnn_fixed/trivial_ttnn_ops.hpp
  tt-train/tests/ttnn_fixed/reduce_ops_test.cpp
Labels: TT-train

#16168 [TT-Train] Added softmax backward
  tt-train/configs/training_shakespear_nanogpt.yaml
  tt-train/sources/examples/nano_gpt/main.cpp
  tt-train/sources/ttml/core/ttnn_all_includes.hpp
  tt-train/sources/ttml/ops/layernorm_op.cpp
  tt-train/sources/ttml/ops/losses.cpp
  tt-train/sources/ttml/ops/scaled_dot_product_attention.cpp
  tt-train/sources/ttml/ops/unary_ops.cpp
  tt-train/sources/ttml/ops/unary_ops.hpp
  tt-train/tests/model/nano_gpt_test.cpp
  tt-train/tests/ops/unary_ops_test.cpp
Labels: TT-train

#15121 LLM tech report sections 2.2, 2.5
  tech_reports/LLMs/llms.md
Labels: LLMs on Metal

#16209 [TT-Train] Fix tracy deps in the tt-train cmake
  tt-train/sources/ttml/CMakeLists.txt
  tt-train/sources/ttml/ops/layernorm_op.cpp
Labels: TT-train

#16182 #15891: improve full accuracy and fix full bugs
  tests/ttnn/unit_tests/operations/test_full.py
  tests/ttnn/unit_tests/operations/test_full_like.py
  ttnn/cpp/ttnn/operations/full/device/full_program_factory.cpp
  ttnn/cpp/ttnn/operations/full/device/kernels/writer_full.cpp
  ttnn/cpp/ttnn/operations/full_like/device/full_like_factory.cpp
Labels: bug, moreh

#15110 LLM tech report sections 3.1, 3.4, 3.5
  tech_reports/LLMs/images/continuous_batching.png
  tech_reports/LLMs/llms.md
Labels: LLMs on Metal

#15166 LLM Tech report section 4.4
  tech_reports/LLMs/llms.md
Labels: LLMs on Metal
