Repository tenstorrent/tt-metal, pull requests merged in 2024-06, with the labels that each got.

#8996 #8995: refactoring moreh arange
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_arange.py
  tt_eager/tt_dnn/op_library/moreh_arange/kernels/writer_moreh_arange.cpp
  tt_eager/tt_dnn/op_library/moreh_arange/kernels/writer_moreh_arange_rm.cpp
  tt_eager/tt_dnn/op_library/moreh_arange/moreh_arange_op.cpp
  tt_eager/tt_dnn/op_library/moreh_arange/moreh_arange_op.hpp
Labels: moreh

#9047 #8349: Use BFP4_B for attention mask in falcon7b optimised prefill.
  models/demos/falcon7b/tests/test_utils.py
  models/demos/falcon7b/tests/unit_tests/test_falcon_matmuls_and_bmms_with_mixed_precision.py
  models/demos/falcon7b/tt/falcon_model.py
  models/demos/falcon7b/tt/model_config.py
Labels: LLMs on Metal

#8978 #8976: moreh_getitem receive signed integer index tensors
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_getitem.py
  tt_eager/tt_dnn/op_library/moreh_getitem/moreh_getitem_op.cpp
  tt_eager/tt_dnn/op_library/moreh_getitem/moreh_getitem_rm/kernels/reader_moreh_getitem.cpp
  tt_eager/tt_dnn/op_library/moreh_getitem/moreh_getitem_rm/moreh_getitem_rm.cpp
  tt_eager/tt_dnn/op_library/moreh_getitem/moreh_getitem_tilized/kernels/reader_moreh_getitem_tilize.cpp
  tt_eager/tt_dnn/op_library/moreh_getitem/moreh_getitem_tilized/kernels/reader_moreh_getitem_tilize_w.cpp
  tt_eager/tt_dnn/op_library/moreh_getitem/moreh_getitem_tilized/moreh_getitem_tilized.cpp
Labels: moreh

#9085 #9084: Rename dockerfile and added virtualenv installation
  dockerfile/ubuntu-20.04-amd64.Dockerfile
  scripts/docker/build_docker_image.sh
Labels: infra-ci

#9126 #0: enable multi-device tensor support for moreh sum op
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
Labels: moreh, mixtral, LLMs on Metal

#9081 #9016: adjust nightly t3000 demo test pipeline to run Mon/Wed/Fri
  .github/workflows/t3000-demo-tests.yaml
Labels: infra-ci, P1_critical

#9187 Fuse Mamba block residual projection with activation
  models/demos/mamba/tt/mamba_block.py
Labels: mamba

#9173 [Mistral-7B] Add flags for weight paths
  models/demos/wormhole/mistral7b/README.md
  models/demos/wormhole/mistral7b/demo/demo.py
  models/demos/wormhole/mistral7b/scripts/get_mistral_weights.py
  models/demos/wormhole/mistral7b/tests/test_mistral_attention.py
  models/demos/wormhole/mistral7b/tests/test_mistral_decoder.py
  models/demos/wormhole/mistral7b/tests/test_mistral_embedding.py
  models/demos/wormhole/mistral7b/tests/test_mistral_mlp.py
  models/demos/wormhole/mistral7b/tests/test_mistral_model.py
  models/demos/wormhole/mistral7b/tests/test_mistral_perf.py
  models/demos/wormhole/mistral7b/tests/test_mistral_rms_norm.py
  models/demos/wormhole/mistral7b/tt/model_config.py
  tests/scripts/run_performance.sh
  tests/scripts/single_card/nightly/run_wh_b0_only.sh
  tests/scripts/single_card/run_demos_single_card_n150_tests.sh
Labels: docs, mistral

#9392 Re-enable Mamba end-to-end performance test
  models/demos/mamba/tests/test_mamba_perf.py
Labels: mamba

#9443 Fix issue with Mamba SSM `A` weight preprocessing
  models/demos/mamba/tt/mamba_one_step_ssm.py
Labels: mamba

#9452 #0: Update dockerfile with c++17-dev and python3-dev, removed venv
  dockerfile/ubuntu-20.04-amd64.Dockerfile
  scripts/docker/requirements.txt
Labels: infra-ci

#9534 #9082: add slack notification to t3k profiler
  .github/workflows/t3000-profiler-tests.yaml
Labels: infra-ci, profiler

#9554 #9553: Add prefix scan op for Mamba prefill
  tests/tt_eager/python_api_testing/unit_testing/misc/test_ssm_prefix_scan.py
  tt_eager/tt_dnn/op_library/CMakeLists.txt
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/compute/ssm_prefix_scan.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/dataflow/reader_ssm_prefix_scan.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/dataflow/writer_ssm_prefix_scan.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/multi_core_ssm_prefix_scan/multi_core_ssm_prefix_scan.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.hpp
  tt_eager/tt_lib/csrc/operations/primary/transformers/module.hpp
Labels: mamba, prefill

#9135 Namhyeong kim/support fp32 dest acc in moreh adam
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_adam.py
  tt_eager/tt_dnn/kernels/compute/moreh_common.hpp
  tt_eager/tt_dnn/op_library/moreh_adam/kernels/moreh_adam.cpp
  tt_eager/tt_dnn/op_library/moreh_adam/kernels/reader_moreh_adam.cpp
  tt_eager/tt_dnn/op_library/moreh_adam/moreh_adam.cpp
  tt_eager/tt_dnn/op_library/moreh_adam/moreh_adam_op.cpp
  tt_eager/tt_dnn/op_library/moreh_adam/moreh_adam_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh
