Repository tenstorrent/tt-metal, pull requests merged in 2024-10, with the labels that each got.

#13270 #13269: Revise moreh_norm, moreh_norm_backward operations
  tests/ttnn/unit_tests/operations/test_moreh_norm.py
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/moreh_norm_backward_program_factory.cpp
Labels: moreh

#13316 #13315: Revise moreh_bmm, moreh_bmm_backward operations
  tests/ttnn/unit_tests/operations/test_moreh_bmm.py
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm/moreh_bmm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm/moreh_bmm.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm_backward/moreh_bmm_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm_backward/moreh_bmm_backward.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm_backward/moreh_bmm_backward_pybind.cpp
Labels: moreh

#13322 #0: TG Llama3-70b - fix frequent tests
  models/demos/tg/llama3_70b/tests/test_llama_decoder_galaxy.py
  models/demos/tg/llama3_70b/tests/test_llama_demo_nightly.py
  models/demos/tg/llama3_70b/tests/test_llama_mlp_galaxy.py
  models/demos/tg/llama3_70b/tests/test_llama_model_galaxy_ci.py
  models/demos/tg/llama3_70b/tests/test_llama_perf.py
Labels: LLM_bug, llm_tg

#13205 Llama318b continuous batching + Paged Attention Support
  models/demos/wormhole/llama31_8b/README.md
  models/demos/wormhole/llama31_8b/demo/demo.py
  models/demos/wormhole/llama31_8b/demo/demo_continuous_batching.py
  models/demos/wormhole/llama31_8b/demo/demo_continuous_batching_paged_attention.py
  models/demos/wormhole/llama31_8b/demo/demo_trace.py
  models/demos/wormhole/llama31_8b/demo/demo_with_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_attention.py
  models/demos/wormhole/llama31_8b/tests/test_llama_attention_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_decoder.py
  models/demos/wormhole/llama31_8b/tests/test_llama_decoder_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_model.py
  models/demos/wormhole/llama31_8b/tests/test_llama_model_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_perf.py
  models/demos/wormhole/llama31_8b/tt/llama_attention.py
  models/demos/wormhole/llama31_8b/tt/llama_common.py
  models/demos/wormhole/llama31_8b/tt/llama_decoder.py
  models/demos/wormhole/llama31_8b/tt/llama_model.py
  models/demos/wormhole/llama31_8b/tt/model_config.py
  models/demos/wormhole/llama31_8b_N300/demo/demo.py
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-09-26_16-44-34.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-09-27_16-38-02.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-09-30_10-20-21.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-09-30_10-21-15.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-09-30_10-51-24.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-09-30_13-09-59.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-09-30_13-14-03.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-09-30_14-07-29.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-10-01_09-22-51.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-10-01_10-20-25.txt
  models/demos/wormhole/llama31_8b_N300/demo/output/demo_user_output_2024-10-01_10-24-44.txt
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_attention.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_attention_prefill.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_decoder.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_decoder_prefill.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_model.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_model_prefill.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_perf.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_attention.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_common.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_decoder.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_mlp.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_model.py
  models/demos/wormhole/llama31_8b_N300/tt/model_config.py
  tests/nightly/single_card/llama31_8b/models/demos/wormhole/llama31_8b/tests/test_llama_decoder_prefill.py
Labels: P1_critical, llama3

#13299 #9370: removed ndpcc work around and debug code in sdpa decode and re-enabled CI
  tests/tt_eager/python_api_testing/unit_testing/misc/test_scaled_dot_product_attention_decode.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_scaled_dot_product_attention_decode_gqa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/writer_decode_all.cpp
Labels: P1_critical

#13351 Flash decode improvements r3
  tests/tt_eager/python_api_testing/unit_testing/misc/test_scaled_dot_product_attention_decode.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/reader_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/writer_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Labels: kernels, models, P1_critical, flash-decode

#13358 #0: shortened flash decode tests to avoid potential timeout in fast dispatch
  tests/tt_eager/python_api_testing/unit_testing/misc/test_scaled_dot_product_attention_decode.py
Labels: P0_Showstopper

#13260 #13187: revise `moreh_mean` and `moreh_mean_backward`
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/ttnn/unit_tests/operations/test_moreh_mean.py
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/writer_moreh_mean_unary_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_nc_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/moreh_mean.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/moreh_mean.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/moreh_mean_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/moreh_mean_backward.hpp
Labels: moreh

#12755 #12687: port `moreh_group_norm` and `moreh_group_norm_backward` from tt_dnn to ttnn
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/ttnn/profiling/ops_for_profiling.py
  tests/ttnn/unit_tests/operations/test_moreh_group_norm.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_groupnorm/moreh_groupnorm_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_groupnorm/moreh_groupnorm_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_groupnorm_backward/moreh_groupnorm_backward_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_groupnorm_backward/moreh_groupnorm_backward_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/module.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/device/kernels/dataflow/reader_moreh_group_norm_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/device/kernels/dataflow/reader_moreh_group_norm_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/device/kernels/dataflow/writer_moreh_group_norm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/device/moreh_group_norm_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/device/moreh_group_norm_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/device/moreh_group_norm_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/moreh_group_norm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/moreh_group_norm.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/moreh_group_norm_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/moreh_group_norm_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/gamma_beta_grad/kernels/dataflow/reader_moreh_group_norm_backward_gamma_beta_grad.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/gamma_beta_grad/kernels/dataflow/writer_moreh_group_norm_backward_gamma_beta_grad.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/gamma_beta_grad/moreh_group_norm_backward_gamma_beta_grad_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/gamma_beta_grad/moreh_group_norm_backward_gamma_beta_grad_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/gamma_beta_grad/moreh_group_norm_backward_gamma_beta_grad_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/input_grad/kernels/dataflow/reader_moreh_group_norm_backward_input_grad_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/input_grad/kernels/dataflow/reader_moreh_group_norm_backward_input_grad_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/input_grad/kernels/dataflow/writer_moreh_group_norm_backward_input_grad.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/input_grad/moreh_group_norm_backward_input_grad_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/input_grad/moreh_group_norm_backward_input_grad_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/input_grad/moreh_group_norm_backward_input_grad_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/moreh_group_norm_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/moreh_group_norm_backward.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/moreh_group_norm_backward_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/moreh_group_norm_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#12378 #12214: refactor moreh_sgd from deprecated to ttnn
  tests/ttnn/unit_tests/operations/test_moreh_sgd.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_helper_functions.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sgd/moreh_sgd.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sgd/moreh_sgd_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sgd/moreh_sgd_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/module.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/device/kernels/moreh_sgd.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/device/kernels/reader_moreh_sgd.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/device/kernels/writer_moreh_sgd.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/device/moreh_sgd_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/device/moreh_sgd_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/device/moreh_sgd_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/moreh_sgd.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/moreh_sgd.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/moreh_sgd_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/moreh_sgd_pybind.hpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#13381 #13365: added program caching for page tensor for flash decode
  tests/tt_eager/python_api_testing/unit_testing/misc/test_scaled_dot_product_attention_decode.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/reader_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_op.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/sdpa_decode.cpp
Labels: kernels, P1_critical, LLM_feature

#12296 #12256: Migrate moreh_cumsum operation from tt_eager to ttnn
  tests/ttnn/unit_tests/operations/test_moreh_cumsum.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_cumsum/moreh_cumsum_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_cumsum/moreh_cumsum_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/module.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/device/kernels/moreh_cumsum_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/device/kernels/reader_moreh_cumsum_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/device/kernels/utils.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/device/kernels/writer_moreh_cumsum_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/device/moreh_cumsum_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/device/moreh_cumsum_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/device/moreh_cumsum_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/moreh_cumsum.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/moreh_cumsum.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/moreh_cumsum_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/moreh_cumsum_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#13318 #13317: revise moreh_adam
  tests/ttnn/unit_tests/operations/test_moreh_adam.py
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/moreh_adam_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/moreh_adam_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/moreh_adam_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/moreh_adam.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/moreh_adam.hpp
Labels: moreh

#13617 Apply unpack_to_dest and use matmul_tiles instread of reduce_tile in w-dim
  tests/ttnn/unit_tests/operations/test_moreh_getitem.py
  tests/ttnn/unit_tests/operations/test_moreh_linear.py
  tests/ttnn/unit_tests/operations/test_moreh_matmul.py
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_linear_backward/device/kernels/reader_moreh_bias_backward_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_linear_backward/device/moreh_linear_backward_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/moreh_mean_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/reader_moreh_mean_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_impl_kernels/moreh_sum_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_impl_kernels/reader_moreh_sum_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_program_factory.cpp
Labels: moreh

#13574 #13052: Adding Tests for Printing Destination Registers and fix `dprint_tensix_dest_reg` for Float32 Format
  tests/tt_metal/test_utils/df/float32.hpp
  tests/tt_metal/test_utils/packing.hpp
  tests/tt_metal/test_utils/stimulus.hpp
  tests/tt_metal/tt_metal/test_kernels/compute/eltwise_copy_print_dest.cpp
  tests/tt_metal/tt_metal/unit_tests_common/CMakeLists.txt
  tests/tt_metal/tt_metal/unit_tests_common/dprint/test_print_tensix_dest.cpp
  tt_metal/hw/inc/debug/dprint_tensix.h
  tt_metal/impl/debug/dprint_server.cpp
Labels: tensix_debug

#13770 #13738: remove unused template from SimpleShape constructor
  ttnn/cpp/ttnn/tensor/types.hpp
Labels: moreh

#13818 Improve matmul error message when inner dimensions do not match
  ttnn/cpp/ttnn/operations/matmul/matmul.cpp
Labels: op_cat: mm, error-handling

#13848 #0: Cleanup lingering include paths to non-existent dir
  tests/tt_metal/tt_metal/unit_tests_common/CMakeLists.txt
  tt_metal/CMakeLists.txt
  tt_metal/common/CMakeLists.txt
  ttnn/CMakeLists.txt
Labels: infra-ci, cleanup

#13743 #13741: Develop Full Operation
  tests/ttnn/unit_tests/operations/test_full.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/full/device/full_device_operation.cpp
  ttnn/cpp/ttnn/operations/full/device/full_device_operation.hpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory.cpp
  ttnn/cpp/ttnn/operations/full/device/kernels/writer_full.cpp
  ttnn/cpp/ttnn/operations/full/full.cpp
  ttnn/cpp/ttnn/operations/full/full.hpp
  ttnn/cpp/ttnn/operations/full/full_pybind.cpp
  ttnn/cpp/ttnn/operations/full/full_pybind.hpp
Labels: moreh

#13671 #13670: Implement full_like operation
  tests/ttnn/unit_tests/operations/test_full_like.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/full_like/device/full_like_device_operation.cpp
  ttnn/cpp/ttnn/operations/full_like/device/full_like_device_operation.hpp
  ttnn/cpp/ttnn/operations/full_like/device/full_like_factory.cpp
  ttnn/cpp/ttnn/operations/full_like/full_like.cpp
  ttnn/cpp/ttnn/operations/full_like/full_like.hpp
  ttnn/cpp/ttnn/operations/full_like/full_like_pybind.cpp
  ttnn/cpp/ttnn/operations/full_like/full_like_pybind.hpp
Labels: moreh

#14166 Align max pool2d sweep test cases according to new changes
  tests/sweep_framework/sweeps/max_pool2d/short/max_pool2d_short_sweep.py
Labels: sweeps

#13735 #13320: Impl uniform operation in ttnn
  tests/ttnn/unit_tests/operations/test_uniform.py
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_rand.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_rand.h
  tt_metal/include/compute_kernel_api/eltwise_unary/rand.h
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/uniform/device/kernels/compute_uniform.cpp
  ttnn/cpp/ttnn/operations/uniform/device/kernels/writer_uniform.cpp
  ttnn/cpp/ttnn/operations/uniform/device/uniform_device_operation.cpp
  ttnn/cpp/ttnn/operations/uniform/device/uniform_device_operation.hpp
  ttnn/cpp/ttnn/operations/uniform/device/uniform_program_factory.cpp
  ttnn/cpp/ttnn/operations/uniform/uniform.cpp
  ttnn/cpp/ttnn/operations/uniform/uniform.hpp
  ttnn/cpp/ttnn/operations/uniform/uniform_pybind.cpp
  ttnn/cpp/ttnn/operations/uniform/uniform_pybind.hpp
Labels: moreh

#14209 #14208: Add unit tests BFP8 for ttnn operations - Part 2
  tests/ttnn/unit_tests/operations/test_moreh_mean.py
Labels: moreh

#13933 #13931: Implement index fill
  tests/ttnn/unit_tests/operations/test_index_fill.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/index_fill/device/index_fill_device_operation.cpp
  ttnn/cpp/ttnn/operations/index_fill/device/index_fill_device_operation.hpp
  ttnn/cpp/ttnn/operations/index_fill/device/index_fill_multi_core_factory.cpp
  ttnn/cpp/ttnn/operations/index_fill/device/kernels/reader_index_fill.cpp
  ttnn/cpp/ttnn/operations/index_fill/device/kernels/writer_index_fill.cpp
  ttnn/cpp/ttnn/operations/index_fill/index_fill.cpp
  ttnn/cpp/ttnn/operations/index_fill/index_fill.hpp
  ttnn/cpp/ttnn/operations/index_fill/index_fill_pybind.cpp
  ttnn/cpp/ttnn/operations/index_fill/index_fill_pybind.hpp
Labels: moreh

#14201 #14200: add bfp8_b tests for moreh_dot_backward
  tests/ttnn/unit_tests/operations/test_moreh_dot_backward.py
  tests/ttnn/unit_tests/operations/test_utils.py
Labels: moreh

#13921 #13878: Add bernoulli operation to TTNN
  tests/ttnn/unit_tests/operations/test_bernoulli.py
  tests/ttnn/unit_tests/operations/test_uniform.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/bernoulli/bernoulli.cpp
  ttnn/cpp/ttnn/operations/bernoulli/bernoulli.hpp
  ttnn/cpp/ttnn/operations/bernoulli/bernoulli_pybind.cpp
  ttnn/cpp/ttnn/operations/bernoulli/bernoulli_pybind.hpp
  ttnn/cpp/ttnn/operations/bernoulli/device/bernoulli_device_operation.cpp
  ttnn/cpp/ttnn/operations/bernoulli/device/bernoulli_device_operation.hpp
  ttnn/cpp/ttnn/operations/bernoulli/device/bernoulli_program_factory.cpp
  ttnn/cpp/ttnn/operations/bernoulli/device/kernels/compute_bernoulli.cpp
  ttnn/cpp/ttnn/operations/bernoulli/device/kernels/reader_bernoulli.cpp
  ttnn/cpp/ttnn/operations/bernoulli/device/kernels/writer_bernoulli.cpp
  ttnn/cpp/ttnn/operations/uniform/uniform_pybind.cpp
Labels: moreh

#14343 #14342: Hotfix skip grayskull test on bernoulli op
  tests/ttnn/unit_tests/operations/test_bernoulli.py
Labels: moreh

#14454 #14453: Fix `moreh_getitem` assert bug
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_rm_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_tilized_factory.cpp
Labels: moreh

#14263 #14262: add bfp8 test for moreh_nll_loss and moreh_adamw
  tests/ttnn/unit_tests/operations/test_moreh_adamw.py
  tests/ttnn/unit_tests/operations/test_moreh_nll_loss.py
  tests/ttnn/unit_tests/operations/test_moreh_nll_loss_unreduced.py
  ttnn/cpp/ttnn/operations/moreh/moreh_adamw/device/moreh_adamw_device_operation.cpp
Labels: moreh

#13924 #13268: Implement fold
  tests/ttnn/unit_tests/operations/test_moreh_fold.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/device/fold_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/device/fold_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/device/fold_program_factory_rm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/device/kernels/reader_fold_rm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/device/kernels/writer_fold_rm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/fold.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/fold.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/fold_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/fold_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#14156 #14155: Add bfloat8_b tests for moreh_sgd, moreh_linear, moreh_linear_backward
  tests/ttnn/unit_tests/operations/test_moreh_linear.py
  tests/ttnn/unit_tests/operations/test_moreh_sgd.py
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/device/moreh_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/device/moreh_sgd_device_operation.cpp
Labels: feature-request, moreh

#14368 #13337: Optimize trigonometric functions
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_trigonometry.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_trigonometry.h
Labels: precision, op_cat: eltwise, perf
