Repository tenstorrent/tt-metal, pull requests merged in 2024-05, with the labels that each got.

#7882 #7881: Integrate custom kernels into Mamba SSM block
  models/demos/mamba/tests/test_full_model_loop.py
  models/demos/mamba/tests/test_mamba_block.py
  models/demos/mamba/tests/test_mamba_ssm.py
  models/demos/mamba/tests/test_residual_block.py
  models/demos/mamba/tests/test_transforms.py
  models/demos/mamba/tt/full_model.py
  models/demos/mamba/tt/mamba_block.py
  models/demos/mamba/tt/mamba_one_step_ssm.py
  models/demos/mamba/tt/model_config.py
  models/demos/mamba/tt/transforms.py
Labels: mamba

#8247 #8195: Support fp32_dest_acc_en for moreh_sgd
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sgd.py
  tt_eager/tt_dnn/kernels/dataflow/moreh_common.hpp
  tt_eager/tt_dnn/op_library/moreh_sgd/moreh_sgd.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/moreh_sgd_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/moreh_sgd_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#8108 extended ssm_eltwise_mul
  tests/tt_eager/python_api_testing/unit_testing/misc/test_ssm_eltwise_mul.py
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/compute/ssm_eltwise_mul.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/dataflow/reader_ssm_eltwise_mul.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/multi_core_ssm_eltwise_mul/multi_core_ssm_eltwise_mul.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.hpp
Labels: mamba

#8562 #8561: added 40 cores QKV matmul & BMM rotary matrix matmul
  models/experimental/llama2_70b/tt/llama_attention_optimized.py
  models/experimental/llama2_70b/tt/llama_decoder_optimized.py
  models/experimental/llama2_70b/tt/llama_model_optimized.py
  models/experimental/llama2_70b/tt/model_config.py
Labels: LLM_feature, LLMs on Metal, llama2-70b

#8542 add build artifacts to workflows
  .github/workflows/build-artifact.yaml
  .github/workflows/multi-device-build-and-unit-tests-frequent.yaml
  .github/workflows/multi-device-build-and-unit-tests.yaml
  .github/workflows/multi-device-end-to-end-demos.yaml
  .github/workflows/multi-device-perf-models.yaml
  .github/workflows/stress-fast-dispatch-build-and-unit-tests.yaml
  .github/workflows/stress-slow-dispatch-build-and-unit-tests.yaml
  .github/workflows/ttnn-run-sweeps.yaml
  tests/scripts/run_ttnn_sweeps.sh
Labels: infra-ci

#8605 Disable Mamba end-to-end perf test due to hangs in CI
  models/demos/mamba/tests/test_mamba_perf.py
Labels: mamba

#8213 Improve accuracy of performance metrics in Mamba demo
  models/demos/mamba/demo/demo.py
Labels: mamba

#8860 #8282: fix moreh_nllloss callback
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_nll_loss.py
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/moreh_nll_loss_step1.cpp
Labels: moreh

#8913 #8902: Fixed program caching bug in nlp load slice op and added additional test cases for the op
  tests/tt_eager/python_api_testing/unit_testing/misc/test_nlp_kv_cache_load_slice.py
  tt_eager/tt_dnn/op_library/nlp_tms/nlp_kv_cache_load_slice.cpp
Labels: bug, LLM_bug

#8249 #6938: Implement softplus as a single kernel
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_eltwise_unary.py
  tests/ttnn/unit_tests/operations/test_activation.py
  tt_eager/tt_dnn/op_library/composite/composite_ops.cpp
  tt_eager/tt_dnn/op_library/composite/composite_ops.hpp
  tt_eager/tt_dnn/op_library/eltwise_unary/eltwise_unary_op.cpp
  tt_eager/tt_dnn/op_library/eltwise_unary/eltwise_unary_op.hpp
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_softplus.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_softplus.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/include/compute_kernel_api/eltwise_unary/sfpu_split_includes.h
  tt_metal/include/compute_kernel_api/eltwise_unary/softplus.h
  ttnn/cpp/ttnn/operations/unary.hpp
Labels: mamba

#8812 Model team/rotary embeddings llama
  models/experimental/llama2_70b/tests/unit_tests/test_rotary_embedding_llama.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_rotary_embedding_llama.py
  tt_eager/tt_dnn/op_library/CMakeLists.txt
  tt_eager/tt_dnn/op_library/rotary_embedding/kernels/compute/rotary_embedding_llama.cpp
  tt_eager/tt_dnn/op_library/rotary_embedding/kernels/dataflow/reader_rotary_embedding_llama_interleaved_start_id.cpp
  tt_eager/tt_dnn/op_library/rotary_embedding/kernels/dataflow/writer_rotary_embedding_llama_interleaved_start_id.cpp
  tt_eager/tt_dnn/op_library/rotary_embedding/multi_core/rotary_embedding_llama_op_multi_core.cpp
  tt_eager/tt_dnn/op_library/rotary_embedding/rotary_embedding_llama_op.cpp
  tt_eager/tt_dnn/op_library/rotary_embedding/rotary_embedding_llama_op.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor.cpp
Labels: LLM_feature, llama2-70b, prefill
