Repository tenstorrent/tt-metal, pull requests merged in 2024-09, with the labels that each got.

#12134 #11109: refactoring moreh getitem forward
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_getitem.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_getitem/moreh_getitem_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_getitem/moreh_getitem_rm/kernels/reader_moreh_getitem.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_getitem/moreh_getitem_rm/moreh_getitem_rm.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_getitem/moreh_getitem_tilized/kernels/common.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_getitem/moreh_getitem_tilized/kernels/reader_moreh_getitem_tilize.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_getitem/moreh_getitem_tilized/kernels/reader_moreh_getitem_tilize_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_getitem/moreh_getitem_tilized/kernels/writer_moreh_getitem_tilize.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_getitem/moreh_getitem_tilized/kernels/writer_moreh_getitem_tilize_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_getitem/moreh_getitem_tilized/moreh_getitem_tilized.cpp
Labels: moreh

#11957 All gather dispatch time optimization
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_receive_reader.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_receive_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_send_reader.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_send_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/multi_core/all_gather_op_multi_core.cpp
Labels: P1_critical, op_cat: ccl, perf

#12155 TG Llama 3.1 70b functional prefill S=256
  models/demos/t3000/falcon40b/tt/model_utils.py
  models/demos/t3000/llama2_70b/tt/llama_common.py
  models/demos/t3000/llama2_70b/tt/model_config.py
  models/demos/tg/llama3_70b/tests/test_llama_attention_galaxy.py
  models/demos/tg/llama3_70b/tests/test_llama_decoder_galaxy.py
  models/demos/tg/llama3_70b/tests/test_llama_mlp_galaxy.py
  models/demos/tg/llama3_70b/tests/test_llama_model_galaxy.py
  models/demos/tg/llama3_70b/tests/test_llama_model_galaxy_ci.py
  models/demos/tg/llama3_70b/tt/llama_attention_galaxy.py
  models/demos/tg/llama3_70b/tt/llama_decoder_galaxy.py
  models/demos/tg/llama3_70b/tt/llama_mlp_galaxy.py
  models/demos/tg/llama3_70b/tt/llama_model_galaxy.py
Labels: LLM_feature, LLMs on Metal, prefill, llm_tg, llm_t3000

#12133 #12127: remove unnecessary double semicolons
  tests/tt_eager/ops/test_bmm_op.cpp
  tests/tt_eager/ops/test_sfpu.cpp
  tests/tt_eager/ops/test_tilize_op_channels_last.cpp
  tests/tt_eager/ops/test_transpose_op.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/1_compute_mm/test_compute_mm.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_bw_and_latency.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_pgm_dispatch.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
  tests/tt_metal/tt_metal/test_add_two_ints.cpp
  tests/tt_metal/tt_metal/test_bcast.cpp
  tests/tt_metal/tt_metal/test_bmm.cpp
  tests/tt_metal/tt_metal/test_dataflow_cb.cpp
  tests/tt_metal/tt_metal/test_dram_copy_sticks_multi_core.cpp
  tests/tt_metal/tt_metal/test_dram_loopback_multi_core.cpp
  tests/tt_metal/tt_metal/test_dram_loopback_single_core.cpp
  tests/tt_metal/tt_metal/test_dram_loopback_single_core_db.cpp
  tests/tt_metal/tt_metal/test_dram_to_l1_multicast.cpp
  tests/tt_metal/tt_metal/test_dram_to_l1_multicast_loopback_src.cpp
  tests/tt_metal/tt_metal/test_flatten.cpp
  tests/tt_metal/tt_metal/test_generic_binary_reader_matmul_large_block.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/bmm_tilize_untilize.cpp
  tests/tt_metal/tt_metal/test_matmul_large_block.cpp
  tests/tt_metal/tt_metal/test_matmul_multi_core_single_dram.cpp
  tests/tt_metal/tt_metal/test_matmul_multi_tile.cpp
  tests/tt_metal/tt_metal/test_matmul_single_core.cpp
  tests/tt_metal/tt_metal/test_matmul_single_core_small.cpp
  tests/tt_metal/tt_metal/test_matmul_single_tile.cpp
  tests/tt_metal/tt_metal/test_matmul_single_tile_bfp8b.cpp
  tests/tt_metal/tt_metal/test_matmul_single_tile_output_in_l1.cpp
  tests/tt_metal/tt_metal/test_multi_core_kernel.cpp
  tests/tt_metal/tt_metal/test_multiple_programs.cpp
  tests/tt_metal/tt_metal/test_transpose_hc.cpp
  tests/tt_metal/tt_metal/test_untilize_eltwise_binary.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
  tt_metal/jit_build/genfiles.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/kernels/compute/bmm_tilize_untilize.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/moreh_nll_loss_step1.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sgd/moreh_sgd.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/bmm_tilize_untilize_all_weights_in_l1_single_output_block_width_dim.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/transpose_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads/device/nlp_create_qkv_heads_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/multi_core/softmax_op_multi_core.cpp
Labels: moreh

#11967 Added ct and rt arg optimization for reduce scatter
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/host/reduce_scatter_full_worker_grid.cpp
Labels: P1_critical, op_cat: ccl, perf

#12310 #0: TG Llama3.1-70b Prefill e2e perf script
  models/demos/tg/llama3_70b/tests/test_llama_model_galaxy.py
  models/demos/tg/llama3_70b/tests/test_llama_perf.py
  models/demos/tg/llama3_70b/tt/llama_common.py
  models/demos/tg/llama3_70b/tt/llama_model_galaxy.py
Labels: LLM_feature, LLMs on Metal, llama3

#12257 #5337: Minor fix to remaining Mixtral tests due to merge conflict
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_model.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_model_prefill.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_perf.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_perplexity.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_topk.py
  models/demos/t3000/mixtral8x7b/tt/model_config.py
Labels: P0_Showstopper, mixtral

#11982 Enable double/triple buffered EDM channels for reduce-scatter
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/host/reduce_scatter_full_worker_grid.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/kernels/worker_interleaved_ring_reduce_scatter_reader.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/kernels/worker_interleaved_ring_reduce_scatter_sender.cpp
Labels: P1_critical, op_cat: ccl, perf

#12294 #12293: Migrate moreh_arange operation from tt_eager to ttnn
  tests/ttnn/unit_tests/operations/test_moreh_arange.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_arange/moreh_arange_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_arange/moreh_arange_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/module.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/kernels/writer_moreh_arange.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/kernels/writer_moreh_arange_rm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/moreh_arange_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/moreh_arange_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/moreh_arange_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/moreh_arange.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/moreh_arange.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/moreh_arange_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/moreh_arange_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.hpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#12125 #12094: Refactor `moreh_adam` operation
  tests/ttnn/unit_tests/operations/test_moreh_adam.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_adam/moreh_adam.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_adam/moreh_adam_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_adam/moreh_adam_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/module.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/kernels/moreh_adam.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/kernels/reader_moreh_adam.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/kernels/writer_moreh_adam.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/moreh_adam_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/moreh_adam_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/moreh_adam_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/moreh_adam.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/moreh_adam.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/moreh_adam_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/moreh_adam_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#12446 Replace exact output match with tight pcc check in post-commit
  models/demos/wormhole/llama31_8b/demo/demo.py
  models/demos/wormhole/llama31_8b/tests/test_llama_model.py
  models/demos/wormhole/llama31_8b/tt/llama_attention.py
  models/demos/wormhole/llama31_8b/tt/llama_decoder.py
  models/demos/wormhole/llama31_8b/tt/llama_mlp.py
  models/demos/wormhole/llama31_8b/tt/llama_model.py
  models/demos/wormhole/llama31_8b/tt/model_config.py
  tests/scripts/run_python_model_tests.sh
Labels: llama3

#12560 Yieldthought/llama31 8b/ttembed
  models/demos/wormhole/llama31_8b/demo/demo.py
  models/demos/wormhole/llama31_8b/demo/demo_with_prefill.py
  models/demos/wormhole/llama31_8b/tt/llama_common.py
  models/demos/wormhole/llama31_8b/tt/llama_embedding.py
  models/demos/wormhole/llama31_8b/tt/model_config.py
Labels: llama3

#12616 #0: change default reduce scatter num buffers per channel to 2
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/host/reduce_scatter_full_worker_grid.cpp
Labels: op_cat: ccl

#12437 #12436: port `moreh_sum` from `tt_dnn` to `ttnn`
  tests/ttnn/unit_tests/operations/test_moreh_sum.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_sum/moreh_sum.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_int_sum_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_int_sum_nc_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_int_sum_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_impl_kernels/moreh_int_sum_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_impl_kernels/moreh_sum_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_impl_kernels/reader_moreh_int_sum_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_impl_kernels/reader_moreh_sum_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_impl_kernels/writer_moreh_int_sum_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_impl_kernels/writer_moreh_sum_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_nc_impl_kernels/moreh_int_sum_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_nc_impl_kernels/moreh_sum_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_nc_impl_kernels/moreh_sum_nc_gs.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_nc_impl_kernels/reader_moreh_sum_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_nc_impl_kernels/writer_moreh_sum_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_nc_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_impl_kernels/moreh_int_sum_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_impl_kernels/moreh_sum_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_impl_kernels/reader_moreh_int_sum_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_impl_kernels/reader_moreh_sum_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_impl_kernels/writer_moreh_int_sum_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_impl_kernels/writer_moreh_sum_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/moreh_sum.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/moreh_sum.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/moreh_sum_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/moreh_sum_pybind.hpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#12519 #12514: port `moreh_mean` and `moreh_mean_backward` from tt_dnn to ttnn
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/ttnn/profiling/ops_for_profiling.py
  tests/ttnn/profiling/reference.txt
  tests/ttnn/unit_tests/operations/test_moreh_mean.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/moreh_mean_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean/moreh_mean_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean_backward/moreh_mean_backward_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_mean_backward/moreh_mean_backward_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/module.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/moreh_mean_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/moreh_mean_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/moreh_mean_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/reader_moreh_mean_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/reader_moreh_mean_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/reader_moreh_mean_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/writer_moreh_mean_nc.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/writer_moreh_mean_unary_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_nc_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/moreh_mean.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/moreh_mean.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/moreh_mean_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/moreh_mean_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/kernels/moreh_mean_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/kernels/reader_moreh_mean_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/kernels/writer_moreh_mean_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/moreh_mean_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/moreh_mean_backward.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/moreh_mean_backward_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/moreh_mean_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#12265 #12207: Port moreh_dot to ttnn
  tests/ttnn/unit_tests/operations/test_moreh_dot.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/device/kernels/moreh_dot.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/device/kernels/reader_moreh_dot.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/device/kernels/writer_moreh_dot.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/device/moreh_dot_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/device/moreh_dot_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/device/moreh_dot_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/moreh_dot.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/moreh_dot.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/moreh_dot_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op/moreh_dot_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
Labels: moreh

#12261 #12259: Move moreh dot backward
  tests/ttnn/unit_tests/operations/test_moreh_dot_backward.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/device/kernels/moreh_dot_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/device/kernels/reader_moreh_dot_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/device/kernels/writer_moreh_dot_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/device/moreh_dot_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/device/moreh_dot_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/device/moreh_dot_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/moreh_dot_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/moreh_dot_backward.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/moreh_dot_backward_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_op_backward/moreh_dot_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
Labels: moreh

#12292 LLama selfout specific optimizations for fused all_gather_matmul op
  tests/ttnn/unit_tests/operations/test_all_gather_matmul.py
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_receive_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/dataflow/worker_interleaved_ring_gather_send_writer.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/multi_core/all_gather_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_op_fusion.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_op_fusion.hpp
  ttnn/cpp/ttnn/operations/ccl/kernel_common/worker_sync_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/multi_core/all_gather_matmul_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_receiver_padding_block_sharded.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op_multi_core_reuse_mcast_1d_program_factory.cpp
Labels: llama3, llm_t3000

#12251 #12250: port moreh_matmul from tt_dnn to ttnn
  tests/ttnn/unit_tests/operations/test_moreh_matmul.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/device/kernels/moreh_matmul.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/device/kernels/reader_moreh_matmul.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/device/kernels/writer_moreh_matmul.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/device/moreh_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/device/moreh_matmul_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/device/moreh_matmul_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/moreh_matmul.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/moreh_matmul.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/moreh_matmul_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/moreh_matmul_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#12389 All gather expose params
  tests/ttnn/unit_tests/gtests/test_ccl_on_tg.cpp
  tests/ttnn/unit_tests/operations/test_all_gather.py
  tests/ttnn/unit_tests/operations/test_all_gather_llama_perf_sweep.py
  ttnn/cpp/ttnn/operations/ccl/all_gather/all_gather.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/all_gather.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/all_gather_pybind.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_op.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/multi_core/all_gather_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/ccl/line_all_gather/device/line_all_gather_op.cpp
  ttnn/cpp/ttnn/operations/ccl/line_all_gather/device/line_all_gather_op.hpp
  ttnn/cpp/ttnn/operations/ccl/line_all_gather/line_all_gather.cpp
  ttnn/cpp/ttnn/operations/ccl/line_all_gather/line_all_gather.hpp
  ttnn/cpp/ttnn/operations/ccl/line_all_gather/line_all_gather_pybind.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/all_gather_matmul.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/all_gather_matmul.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/all_gather_matmul_pybind.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/all_gather_matmul_op.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/multi_core/all_gather_matmul_op_multi_core.cpp
Labels: op_cat: ccl

#12868 Update TG llama3_70b README.md
  models/demos/tg/llama3_70b/demo/README.md
Labels: llm_tg

#12739 Flash Decode GQA (and MQA) Improvements (Round 1)
  models/demos/wormhole/llama31_8b/tt/llama_attention.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_scaled_dot_product_attention_decode_gqa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/reader_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_op.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode_gqa/device/sdpa_decode_gqa_op.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode_gqa/device/sdpa_decode_gqa_op.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode_gqa/sdpa_decode_gqa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode_gqa/sdpa_decode_gqa.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode_gqa/sdpa_decode_gqa_pybind.cpp
Labels: kernels, P1_critical, LLM_feature, llama3

#12699 n_heads> 1 and share_cache support for paged update cache
  tests/ttnn/unit_tests/operations/test_paged_update_cache.py
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/kernels/compute/update_cache.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/kernels/dataflow/reader_update_cache_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/kernels/dataflow/writer_update_cache_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/paged_cache_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/paged_cache_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/paged_update_cache_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/paged_update_cache_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/paged_cache.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/paged_cache.hpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/paged_cache_pybind.cpp
Labels: P1_critical, llama3

#12500 #12499: Migrate moreh_norm, moreh_norm_backward operations from tt_eager to ttnn
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/ttnn/profiling/ops_for_profiling.py
  tests/ttnn/unit_tests/operations/test_moreh_norm.py
  tests/ttnn/unit_tests/operations/test_utils.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_norm/moreh_norm_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_norm/moreh_norm_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_norm_backward/moreh_norm_backward_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_norm_backward/moreh_norm_backward_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/module.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_h/kernels/moreh_norm_h_kernel.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_h/kernels/reader_moreh_norm_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_h/kernels/writer_moreh_norm_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_other/kernels/moreh_norm_other_kernel.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_other/kernels/reader_moreh_norm_other.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_other/kernels/writer_moreh_norm_other.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_program_factory_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_program_factory_other.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_program_factory_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_w/kernels/moreh_norm_w_kernel.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_w/kernels/reader_moreh_norm_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_w/kernels/writer_moreh_norm_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/moreh_norm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/moreh_norm.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/moreh_norm_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/moreh_norm_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/kernels/moreh_norm_backward_kernel.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/kernels/reader_moreh_norm_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/kernels/writer_moreh_norm_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/moreh_norm_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/moreh_norm_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/moreh_norm_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/moreh_norm_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/moreh_norm_backward.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/moreh_norm_backward_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/moreh_norm_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#12322 #12321: Migrate moreh_bmm, moreh_bmm_backward operations from tt_eager to ttnn
  tests/ttnn/unit_tests/operations/test_moreh_bmm.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm/moreh_bmm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm/moreh_bmm.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm/moreh_bmm_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm/moreh_bmm_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm_backward/moreh_bmm_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm_backward/moreh_bmm_backward.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm_backward/moreh_bmm_backward_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_bmm_backward/moreh_bmm_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#12698 #12690: Port moreh_softmax and moreh_softmax_backward to ttnn
  tests/ttnn/unit_tests/operations/test_moreh_logsoftmax.py
  tests/ttnn/unit_tests/operations/test_moreh_softmax.py
  tests/ttnn/unit_tests/operations/test_moreh_softmin.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/moreh/moreh_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_c_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/reader_moreh_softmax_c_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/reader_moreh_softmax_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/reader_moreh_softmax_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/reader_moreh_softmax_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/reader_moreh_softmax_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/writer_moreh_softmax_c_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/writer_moreh_softmax_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/writer_moreh_softmax_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/writer_moreh_softmax_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/writer_moreh_softmax_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/moreh_softmax_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/moreh_softmax_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_c_large/softmax_c_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_h_large/softmax_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_h_small/softmax_h_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_w_large/softmax_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_w_small/softmax_w_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/moreh_softmax.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/moreh_softmax.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/moreh_softmax_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/moreh_softmax_pybind.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/moreh_softmax_backward_c_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/moreh_softmax_backward_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/moreh_softmax_backward_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/moreh_softmax_backward_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/moreh_softmax_backward_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/reader_moreh_softmax_backward_c.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/reader_moreh_softmax_backward_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/reader_moreh_softmax_backward_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/reader_moreh_softmax_backward_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/reader_moreh_softmax_backward_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/writer_moreh_softmax_backward_c.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/writer_moreh_softmax_backward_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/writer_moreh_softmax_backward_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/writer_moreh_softmax_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/writer_moreh_softmax_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/moreh_softmax_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/moreh_softmax_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_c_large/softmax_backward_c_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_h_large/softmax_backward_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_h_small/softmax_backward_h_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_w_large/softmax_backward_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_w_small/softmax_backward_w_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/moreh_softmax_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/moreh_softmax_backward.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/moreh_softmax_backward_pybind.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/moreh_softmax_backward_pybind.hpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#13074 #0: fix uncaught edge case in page update cache and added it in test suit
  tests/ttnn/unit_tests/operations/test_paged_update_cache.py
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/paged_cache_operation.cpp
Labels: P0_Showstopper

#13117 #0: added support for n_heads > 1 for page cache prefill
  tests/ttnn/unit_tests/operations/test_paged_update_cache.py
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/kernels/dataflow/writer_fill_cache_interleaved.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/paged_cache_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/paged_fill_cache_program_factory.cpp
Labels: P1_critical

#13153 Llama3.1 8b demo with tracing
  README.md
  models/demos/wormhole/llama31_8b/demo/demo.py
  models/demos/wormhole/llama31_8b/demo/demo_trace.py
  models/demos/wormhole/llama31_8b/demo/demo_with_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_attention.py
  models/demos/wormhole/llama31_8b/tests/test_llama_attention_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_decoder.py
  models/demos/wormhole/llama31_8b/tests/test_llama_decoder_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_model.py
  models/demos/wormhole/llama31_8b/tests/test_llama_model_prefill.py
  models/demos/wormhole/llama31_8b/tests/test_llama_perf.py
  models/demos/wormhole/llama31_8b/tests/test_llama_torch.py
  models/demos/wormhole/llama31_8b/tt/llama_attention.py
  models/demos/wormhole/llama31_8b/tt/llama_common.py
  models/demos/wormhole/llama31_8b/tt/llama_decoder.py
  models/demos/wormhole/llama31_8b/tt/llama_model.py
  models/demos/wormhole/llama31_8b/tt/model_config.py
Labels: LLMs on Metal, llama3

#13168 #0: try with python 3.10
  .github/workflows/all-static-checks.yaml
Labels: P1_critical

#13185 #0: Update CODEOWNERS for ttnn/ttnn/operations/moreh.py
  CODEOWNERS
Labels: moreh, community

#13139 #13137: Revise moreh_arange operation
  tests/ttnn/unit_tests/operations/test_moreh_arange.py
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/kernels/writer_moreh_arange.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/kernels/writer_moreh_arange_rm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/moreh_arange_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/moreh_arange_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/device/moreh_arange_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/moreh_arange.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/moreh_arange.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_arange/moreh_arange_pybind.cpp
Labels: moreh

#13097 #13095: Refactor moreh_nll_loss operations
  tests/ttnn/unit_tests/operations/test_moreh_nll_loss.py
  tests/ttnn/unit_tests/operations/test_moreh_nll_loss_unreduced.py
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss_step1/device/moreh_nll_loss_step1_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss_step1/device/moreh_nll_loss_step1_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss_step1/device/moreh_nll_loss_step1_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss_step2/device/moreh_nll_loss_step2_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss_step2/device/moreh_nll_loss_step2_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss_step2/device/moreh_nll_loss_step2_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_backward/device/moreh_nll_loss_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_backward/device/moreh_nll_loss_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_backward/device/moreh_nll_loss_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_backward/moreh_nll_loss_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_backward/moreh_nll_loss_backward.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_unreduced_backward/device/moreh_nll_loss_unreduced_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_unreduced_backward/device/moreh_nll_loss_unreduced_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_unreduced_backward/device/moreh_nll_loss_unreduced_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_unreduced_backward/moreh_nll_loss_unreduced_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_unreduced_backward/moreh_nll_loss_unreduced_backward.hpp
  ttnn/ttnn/operations/moreh.py
Labels: moreh

#13087 #13086: Revising moreh_getitem
  tests/ttnn/unit_tests/operations/test_moreh_getitem.py
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_kernels/reader_moreh_getitem.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_kernels/writer_moreh_getitem.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_rm_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_tilized_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_tilized_kernels/common.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_tilized_kernels/reader_moreh_getitem_tilize.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_tilized_kernels/reader_moreh_getitem_tilize_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_tilized_kernels/writer_moreh_getitem_tilize.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_tilized_kernels/writer_moreh_getitem_tilize_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/moreh_getitem.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/moreh_getitem.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/moreh_getitem_pybind.cpp
Labels: moreh

#13085 #13084: fix return vector optional tensor with launch_op
  tests/ttnn/unit_tests/operations/test_examples.py
  ttnn/cpp/ttnn/decorators.hpp
  ttnn/cpp/ttnn/operations/examples/example_multiple_return/device/example_multiple_return_device_operation.cpp
  ttnn/cpp/ttnn/operations/examples/example_multiple_return/device/example_multiple_return_device_operation.hpp
  ttnn/cpp/ttnn/operations/examples/example_multiple_return/device/kernels/writer_multiple.cpp
  ttnn/cpp/ttnn/operations/examples/example_multiple_return/device/single_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/examples/example_multiple_return/example_multiple_return.cpp
  ttnn/cpp/ttnn/operations/examples/example_multiple_return/example_multiple_return.hpp
  ttnn/cpp/ttnn/operations/examples/example_multiple_return/example_multiple_return_pybind.cpp
  ttnn/cpp/ttnn/run_operation_inl.hpp
Labels: moreh

#13160 Tensor-parallel Llama3.1 8b bringup on n300
  CODEOWNERS
  models/demos/wormhole/llama31_8b_N300/README.md
  models/demos/wormhole/llama31_8b_N300/demo/demo.py
  models/demos/wormhole/llama31_8b_N300/demo/input_data_questions.json
  models/demos/wormhole/llama31_8b_N300/demo/input_data_questions_prefill_128.json
  models/demos/wormhole/llama31_8b_N300/tests/tale-of-two-cities.txt.bz2
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_attention.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_attention_prefill.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_decoder.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_decoder_prefill.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_embedding.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_mlp.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_model.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_model_prefill.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_perf.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_rms_norm.py
  models/demos/wormhole/llama31_8b_N300/tests/test_llama_torch.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_attention.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_common.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_decoder.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_embedding.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_mlp.py
  models/demos/wormhole/llama31_8b_N300/tt/llama_model.py
  models/demos/wormhole/llama31_8b_N300/tt/model_config.py
Labels: LLMs on Metal, llama3
