Repository tenstorrent/tt-metal, pull requests merged in 2024-01, with the labels that each got.

#4530 #4529: Fix tracy zone name construction
  tt_metal/jit_build/build.cpp
Labels: performance monitoring, tracy profiler

#3931 #3881: Tracy host report generation
  README.md
  tt_eager/tracy.py
  tt_eager/tracy_tt_lib.py
  tt_eager/tt_dnn/op_library/run_operation.cpp
  tt_metal/tools/profiler/common.py
Labels: performance monitoring

#4590 #4589: Improve process managment in tracy cli capture
  tt_eager/tracy.py
Labels: tracy profiler

#4545 #516: Sanity check tracy artifact generation
  scripts/build_scripts/build_with_profiler_opt.sh
  tests/scripts/run_profiler_regressions.sh
Labels: tracy profiler

#4744 #4741: Add sum op to tt_dnn
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_matmul.py
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_sum.py
  tt_eager/tt_dnn/module.mk
  tt_eager/tt_dnn/op_library/moreh_matmul/moreh_matmul_op.cpp
  tt_eager/tt_dnn/op_library/moreh_matmul_backward/kernels/reader_moreh_sum.cpp
  tt_eager/tt_dnn/op_library/moreh_matmul_backward/moreh_matmul_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_matmul_backward/moreh_matmul_backward_op.hpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/moreh_sum_h.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/moreh_sum_w.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/reader_moreh_sum_h.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/reader_moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/reader_moreh_sum_w.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/writer_moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/kernels/writer_moreh_sum_unary_interleaved_start_id.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_h/moreh_sum_h.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc/moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.hpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_w/moreh_sum_w.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/kernels/moreh_sum_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/kernels/reader_moreh_sum_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/kernels/writer_moreh_sum_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_mask.h
  tt_metal/include/compute_kernel_api/bcast.h
Labels: moreh

#4867 #4862: Disable test_moreh_clip_grad_norm_with_error_if_nonfinite
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_clip_grad_norm.py
Labels: moreh, P1_critical

#4824 #4821: Add cumsum op to tt_dnn
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_cumsum.py
  tt_eager/tt_dnn/module.mk
  tt_eager/tt_dnn/op_library/moreh_cumsum/kernels/moreh_cumsum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_cumsum/kernels/reader_moreh_cumsum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_cumsum/kernels/utils.hpp
  tt_eager/tt_dnn/op_library/moreh_cumsum/kernels/writer_moreh_cumsum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_cumsum/moreh_cumsum_nc/moreh_cumsum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_cumsum/moreh_cumsum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_cumsum/moreh_cumsum_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#4924 Remove skip_for_wormhole_b0 for test_moreh_softmax and test_moreh_softmin
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_softmax.py
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_softmin.py
Labels: moreh

#4929 Support moreh SGD
  tests/tt_eager/python_api_testing/unit_testing/test_moreh_sgd.py
  tt_eager/tt_dnn/module.mk
  tt_eager/tt_dnn/op_library/moreh_sgd/kernels/common.hpp
  tt_eager/tt_dnn/op_library/moreh_sgd/kernels/common_ckernels.hpp
  tt_eager/tt_dnn/op_library/moreh_sgd/kernels/moreh_sgd.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/kernels/reader_moreh_sgd.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/kernels/writer_moreh_sgd.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/moreh_sgd.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/moreh_sgd_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/moreh_sgd_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh
