Repository tenstorrent/tt-metal, pull requests merged in 2024-04, with the labels that each got.

#6955 #6619: Fix per op profiler sum
  tt_metal/tools/profiler/profiler.cpp
Labels: tracy profiler

#7024 #7023: Use `bfloat8` weights in Mamba block MLPs
  models/experimental/mamba/tt_opt/full_model.py
  models/experimental/mamba/tt_opt/mamba_block.py
Labels: mamba

#7027 Fix minor grammatical errors in METALIUM-GUIDE.md
  METALIUM_GUIDE.md
Labels: docs

#6852 #6838: Add tracy timeout for op reprots
  module.mk
  tt_eager/tracy.py
  tt_metal/tools/profiler/common.py
  tt_metal/tracy.mk
Labels: tracy profiler

#7122 #6353: Profier signpost
  docs/source/common/_static/tracy-signpost-opreprot.png
  docs/source/common/_static/tracy-signpost-run.png
  docs/source/tt-metalium/tools/tracy_profiler.rst
  tt_eager/tracy.py
  tt_eager/tracy_tt_lib.py
  tt_metal/tools/profiler/op_profiler.hpp
  tt_metal/tools/profiler/process_ops_logs.py
Labels: tracy profiler

#7160 #7161: Optimize repeat/repeat_interleave/permute transformations in Mamba
  models/experimental/mamba/tests_opt/test_full_model.py
  models/experimental/mamba/tests_opt/test_mamba_block.py
  models/experimental/mamba/tests_opt/test_mamba_ssm.py
  models/experimental/mamba/tests_opt/test_residual_block.py
  models/experimental/mamba/tests_opt/test_transforms.py
  models/experimental/mamba/tt_opt/full_model.py
  models/experimental/mamba/tt_opt/mamba_block.py
  models/experimental/mamba/tt_opt/mamba_one_step_ssm.py
  models/experimental/mamba/tt_opt/model_config.py
  models/experimental/mamba/tt_opt/residual_block.py
  models/experimental/mamba/tt_opt/transforms.py
Labels: mamba

#7189 Move Mamba LM head and norm layer to device
  models/experimental/mamba/tt_opt/full_model.py
Labels: mamba

#7247 #7244: Revert tensor data format in op CSV
  tt_metal/tools/profiler/process_ops_logs.py
Labels: tracy profiler

#7210 #516: T3000 profiler tests
  .github/workflows/run-profiler-regression.yaml
  scripts/tools_setup_common.sh
  tests/scripts/run_profiler_regressions.sh
Labels: tracy profiler

#7553 #7546: Fix multi device op info cache
  tt_metal/tools/profiler/op_profiler.hpp
  tt_metal/tools/profiler/process_ops_logs.py
Labels: tracy profiler

#7745 #7744: Add support for non-4D tensor in moreh_sum, moreh_sum_backward
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_h_impl/moreh_sum_h_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/kernels/reader_moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/moreh_sum_nc_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.hpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_w_impl/moreh_sum_w_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/kernels/moreh_sum_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/kernels/reader_moreh_sum_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/moreh_sum_backward_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.cpp
Labels: moreh

#7193 #5544: Add output tensors parameter to moreh_sgd op
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sgd.py
  tt_eager/tt_dnn/op_library/moreh_sgd/moreh_sgd.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/moreh_sgd_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sgd/moreh_sgd_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#7835 #5544: Prevent eager unit test failures
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_matmul.py
Labels: moreh

#7804 #7865: Add custom reduction kernel for Mamba SSM block
  tests/tt_eager/python_api_testing/unit_testing/misc/test_ssm_1d_sum_reduce.py
  tt_eager/tt_dnn/module.mk
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/compute/ssm_1d_sum_reduce.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/dataflow/writer_ssm_1d_sum_reduce.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/multi_core_ssm_1d_sum_reduce/multi_core_ssm_1d_sum_reduce.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.hpp
  tt_eager/tt_lib/csrc/operations/primary/transformers/module.hpp
Labels: mamba
