Repository tenstorrent/tt-metal, pull requests merged in 2024-07, with the labels that each got.

#9776 Support longer sequence lengths in `ssm_prefix_scan`
  tests/tt_eager/python_api_testing/unit_testing/misc/test_ssm_prefix_scan.py
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/compute/ssm_prefix_scan.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/dataflow/reader_ssm_prefix_scan.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/multi_core_ssm_prefix_scan/multi_core_ssm_prefix_scan.cpp
Labels: mamba

#9867 Extend ssm_eltwise_mul for num_users > 32
  tests/tt_eager/python_api_testing/unit_testing/misc/test_ssm_eltwise_mul.py
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/compute/ssm_eltwise_mul.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/dataflow/reader_ssm_eltwise_mul.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/dataflow/writer_ssm_eltwise_mul.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/multi_core_ssm_eltwise_mul/multi_core_ssm_eltwise_mul.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
Labels: mamba

#9881 Extend ssm_1d_reduce for the batch>32
  tests/tt_eager/python_api_testing/unit_testing/misc/test_ssm_1d_sum_reduce.py
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/compute/ssm_1d_sum_reduce.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/dataflow/reader_ssm_1d_sum_reduce.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/kernels/dataflow/writer_ssm_1d_sum_reduce.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/multi_core_ssm_1d_sum_reduce/multi_core_ssm_1d_sum_reduce.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
Labels: mamba

#9869 #9861: support check_tensor helper_function
  tt_eager/tt_dnn/op_library/fast_reduce_nc/fast_reduce_nc_op.cpp
  tt_eager/tt_dnn/op_library/moreh_adam/moreh_adam_op.cpp
  tt_eager/tt_dnn/op_library/moreh_adamw/moreh_adamw_op.cpp
  tt_eager/tt_dnn/op_library/moreh_clip_grad_norm/moreh_clip_grad_norm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm/moreh_groupnorm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_groupnorm_backward/moreh_groupnorm_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_helper_functions.cpp
  tt_eager/tt_dnn/op_library/moreh_helper_functions.hpp
  tt_eager/tt_dnn/op_library/moreh_matmul/moreh_matmul_op.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_norm_backward/moreh_norm_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.cpp
Labels: moreh

#9893 #9910: Improve Softplus kernel accuracy
  tests/ttnn/unit_tests/operations/test_activation.py
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_softplus.h
Labels: mamba

#9636 #9336: Refactoring moreh layernorm
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_layernorm.py
  tt_eager/tt_dnn/kernels/compute/moreh_common.hpp
  tt_eager/tt_dnn/op_library/moreh_helper_functions.cpp
  tt_eager/tt_dnn/op_library/moreh_helper_functions.hpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/moreh_layernorm_large_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/moreh_layernorm_small_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/reader_moreh_layernorm_large.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/reader_moreh_layernorm_small.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/writer_moreh_layernorm.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/moreh_layernorm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/moreh_layernorm_op.hpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/gamma_beta_grad/moreh_layernorm_backward_gamma_beta_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/input_grad/moreh_layernorm_backward_input_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/moreh_layernorm_backward_gamma_beta_grad_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/moreh_layernorm_backward_input_grad_large_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/moreh_layernorm_backward_input_grad_small_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/reader_moreh_layernorm_backward_gamma_beta_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/reader_moreh_layernorm_backward_input_grad_large.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/reader_moreh_layernorm_backward_input_grad_small.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/writer_moreh_layernorm_backward_input_grad.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/moreh_layernorm_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/moreh_layernorm_backward_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#10029 #10028: Remove skip and reduce test case for `moreh_groupnorm` test
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_groupnorm.py
Labels: moreh

#10007 #10005: Change input tensor parameter to optional in moreh_sum_backward
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#10006 #10004: Revise bias tensor usage in moreh_linear_backward
  tt_eager/tt_dnn/op_library/moreh_linear_backward/moreh_linear_backward_op.cpp
Labels: moreh

#9804 #9663: support moreh_nll_loss_unreduced
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_nll_loss_unreduced.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_utils.py
  tt_eager/tt_dnn/kernels/dataflow/moreh_common.hpp
  tt_eager/tt_dnn/op_library/CMakeLists.txt
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced/moreh_nll_loss_unreduced_op.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced/moreh_nll_loss_unreduced_op.hpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced_backward/kernels/reader_moreh_nll_loss_unreduced_backward_2d.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced_backward/kernels/reader_moreh_nll_loss_unreduced_backward_3d.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced_backward/kernels/reader_moreh_nll_loss_unreduced_backward_4d.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced_backward/kernels/writer_moreh_nll_loss_unreduced_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced_backward/moreh_nll_loss_unreduced_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced_backward/moreh_nll_loss_unreduced_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced_backward/moreh_nll_loss_unreduced_backward_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#10040 #10030: fix moreh_nll_loss hang
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_nll_loss.py
  tt_eager/tt_dnn/kernels/dataflow/moreh_common.hpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step1/kernels/reader_moreh_nll_loss_step1.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step2/kernels/reader_moreh_nll_loss_step2_2d.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step2/kernels/reader_moreh_nll_loss_step2_3d.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_step2/kernels/reader_moreh_nll_loss_step2_4d.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward/kernels/reader_moreh_nll_loss_backward_2d.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward/kernels/reader_moreh_nll_loss_backward_3d.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward/kernels/reader_moreh_nll_loss_backward_4d.cpp
Labels: moreh

#10063 Added prefill mode for mamba modules
  models/demos/mamba/tests/test_full_model.py
  models/demos/mamba/tests/test_mamba_block.py
  models/demos/mamba/tests/test_mamba_perf.py
  models/demos/mamba/tests/test_mamba_ssm.py
  models/demos/mamba/tests/test_residual_block.py
  models/demos/mamba/tt/full_model.py
  models/demos/mamba/tt/mamba_block.py
  models/demos/mamba/tt/mamba_one_step_ssm.py
  models/demos/mamba/tt/model_config.py
  models/demos/mamba/tt/residual_block.py
Labels: mamba

#10064 Increase timeout for Mamba full model tests
  models/demos/mamba/tests/test_full_model.py
  models/demos/mamba/tt/full_model.py
Labels: mamba

#10185 #5424: Delegated sfpu api call to sqrt for wh to submodule sqrt call
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_sqrt.h
Labels: cleanup

#10167 #10165: Fix build error with g++-12
  tt_metal/impl/debug/watcher_server.cpp
Labels: moreh

#10206 Move Mamba tests to wh_b0_only_eth pipeline
  tests/nightly/wh_b0_only_eth/models/demos/mamba/tests/test_benchmarks.py
  tests/nightly/wh_b0_only_eth/models/demos/mamba/tests/test_full_model.py
  tests/nightly/wh_b0_only_eth/models/demos/mamba/tests/test_mamba_block.py
  tests/nightly/wh_b0_only_eth/models/demos/mamba/tests/test_mamba_demo.py
  tests/nightly/wh_b0_only_eth/models/demos/mamba/tests/test_mamba_ssm.py
  tests/nightly/wh_b0_only_eth/models/demos/mamba/tests/test_reference_model.py
  tests/nightly/wh_b0_only_eth/models/demos/mamba/tests/test_residual_block.py
Labels: mamba

#10204 Suppress g++-12 build errors with -Wno flags
  cmake/compilers.cmake
Labels: moreh

#10089 Falcon40b attn mask optimization
  models/demos/t3000/falcon40b/tests/test_perf_e2e_falcon.py
  models/demos/t3000/falcon40b/tests/test_perf_falcon.py
  models/demos/t3000/falcon40b/tt/falcon_attention.py
  models/demos/t3000/falcon40b/tt/falcon_decoder.py
  models/demos/t3000/falcon40b/tt/falcon_model.py
Labels: falcon_40b, LLMs on Metal, prefill

#10142 #9613: scaffolding for weekly scheduled t3k perplexity tests
  .github/workflows/t3000-perplexity-tests.yaml
  tests/scripts/t3000/run_t3000_perplexity_tests.sh
Labels: infra-ci, P1_critical

#10265 #10254: Enable preserve_fp32_precision flag in moreh_sum op
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/op_library/moreh_helper_functions.cpp
  tt_eager/tt_dnn/op_library/moreh_helper_functions.hpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_h_impl/moreh_sum_h_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/kernels/moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/kernels/moreh_sum_nc_gs.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/kernels/reader_moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/moreh_sum_nc_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_w_impl/moreh_sum_w_impl.cpp
Labels: moreh

#10255 #9901: Refactoring `moreh norm`
  tests/tt_eager/python_api_testing/unit_testing/misc/test_fast_reduce_nc.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_clip_grad_norm.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_cumsum.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_groupnorm.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_layernorm.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_mean.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_norm.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_utils.py
  tt_eager/tt_dnn/kernels/compute/moreh_common.hpp
  tt_eager/tt_dnn/op_library/moreh_helper_functions.cpp
  tt_eager/tt_dnn/op_library/moreh_helper_functions.hpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/moreh_layernorm_large_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm/kernels/moreh_layernorm_small_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/moreh_layernorm_backward_gamma_beta_grad_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/moreh_layernorm_backward_input_grad_large_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_layernorm_backward/kernels/moreh_layernorm_backward_input_grad_small_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_backward/moreh_nll_loss_backward/kernels/reader_moreh_nll_loss_backward_2d.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss_unreduced_backward/kernels/reader_moreh_nll_loss_unreduced_backward_2d.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_h/kernels/moreh_norm_h_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_h/moreh_norm_h.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_op.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_op.hpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_other/kernels/moreh_norm_other_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_other/moreh_norm_other.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_w/kernels/moreh_norm_w_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_norm/moreh_norm_w/moreh_norm_w.cpp
  tt_eager/tt_dnn/op_library/moreh_norm_backward/kernels/moreh_norm_backward_kernel.cpp
  tt_eager/tt_dnn/op_library/moreh_norm_backward/kernels/reader_moreh_norm_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_norm_backward/kernels/writer_moreh_norm_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_norm_backward/moreh_norm_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_norm_backward/moreh_norm_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_norm_backward/moreh_norm_backward_op.hpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/moreh_softmax_h.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/moreh_softmax_h_large.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/moreh_softmax_w.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/moreh_softmax_w_large.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax_backward/kernels/moreh_softmax_backward_h.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax_backward/kernels/moreh_softmax_backward_h_large.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax_backward/kernels/moreh_softmax_backward_w.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax_backward/kernels/moreh_softmax_backward_w_large.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/kernels/reader_moreh_sum_backward.cpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Labels: moreh

#10414 Move Mamba embeddings onto device
  models/demos/mamba/tests/test_full_model.py
  models/demos/mamba/tt/full_model.py
Labels: mamba

#10174 Support any sequence length in Mamba prefill
  models/demos/mamba/demo/demo.py
  models/demos/mamba/tests/test_mamba_demo.py
  models/demos/mamba/tests/test_preprocessing.py
  models/demos/mamba/tt/full_model.py
  models/demos/mamba/tt/model_config.py
  models/demos/mamba/tt/preprocessing.py
  tests/nightly/wh_b0_only_eth/models/demos/mamba/tests/test_cache.py
  tests/nightly/wh_b0_only_eth/models/demos/mamba/tests/test_preprocessing.py
Labels: mamba, prefill

#10475 Conv1d op bringup with depthwise conv feature
  tests/ttnn/unit_tests/operations/test_conv1d.py
  ttnn/cpp/ttnn/experimental/tensor/tensor_utils.cpp
  ttnn/cpp/ttnn/experimental/tensor/tensor_utils.hpp
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/conv/kernels/compute_depthwise_conv1d.cpp
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/conv/kernels/reader_depthwise_conv1d.cpp
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/conv/kernels/writer_mcast_receiver_depthwise_conv1d.cpp
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/conv/kernels/writer_mcast_sender_depthwise_conv1d.cpp
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/untilize/kernels/dataflow/halo_gather.cpp
  ttnn/cpp/ttnn/operations/conv2d/conv2d.cpp
  ttnn/cpp/ttnn/operations/conv2d/conv2d.hpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
  ttnn/ttnn/__init__.py
  ttnn/ttnn/operations/conv1d.py
Labels: mamba

#10563 #9898: Refactoring moreh nll loss
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_linear_backward/moreh_linear_backward_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_op.cpp
Labels: moreh

#10722 Profiling Mamba Prefill
  models/demos/wormhole/mamba/demo/demo.py
  models/demos/wormhole/mamba/tests/test_mamba_demo.py
  models/demos/wormhole/mamba/tests/test_mamba_perf.py
  models/demos/wormhole/mamba/tt/cache.py
  models/demos/wormhole/mamba/tt/full_model.py
  models/demos/wormhole/mamba/tt/mamba_block.py
  models/demos/wormhole/mamba/tt/mamba_one_step_ssm.py
  models/demos/wormhole/mamba/tt/residual_block.py
Labels: mamba

#10731 Use CI fixtures on Mixtral tests
  models/demos/t3000/mixtral8x7b/demo/demo.py
  models/demos/t3000/mixtral8x7b/demo/demo_with_prefill.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_attention.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_attention_prefill.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_decoder.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_decoder_prefill.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_embedding.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_mlp.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_mlp_prefill.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_model.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_model_prefill.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_moe.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_moe_prefill.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_perf.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_perplexity.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_rms_norm.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_topk.py
  models/demos/t3000/mixtral8x7b/tt/model_config.py
  tests/scripts/t3000/run_t3000_demo_tests.sh
  tests/scripts/t3000/run_t3000_frequent_tests.sh
  tests/scripts/t3000/run_t3000_model_perf_tests.sh
  tests/scripts/t3000/run_t3000_unit_tests.sh
Labels: infra-ci, mixtral, LLMs on Metal

#10811 #10496: improved compile and runtime arg efficiency for flash decode
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/sdpa/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/sdpa/kernels/dataflow/reader_decode_all.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/sdpa/kernels/dataflow/writer_decode_all.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/sdpa/multi_core/sdpa_decode_op_multi_core.cpp
Labels: kernels, LLM_feature

#10805 Fix performance drop when running Mamba decode after prefill
  models/demos/wormhole/mamba/tests/test_cache.py
  models/demos/wormhole/mamba/tt/cache.py
  models/demos/wormhole/mamba/tt/mamba_block.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/mamba/test_mamba_conv.py
Labels: mamba

#10844 Tidy up Mamba module filenames
  models/demos/wormhole/mamba/README.md
  models/demos/wormhole/mamba/demo/demo.py
  models/demos/wormhole/mamba/tests/test_mamba_block.py
  models/demos/wormhole/mamba/tests/test_mamba_conv.py
  models/demos/wormhole/mamba/tests/test_mamba_model.py
  models/demos/wormhole/mamba/tests/test_mamba_perf.py
  models/demos/wormhole/mamba/tests/test_mamba_ssm.py
  models/demos/wormhole/mamba/tests/test_residual_block.py
  models/demos/wormhole/mamba/tt/mamba_block.py
  models/demos/wormhole/mamba/tt/mamba_model.py
  models/demos/wormhole/mamba/tt/mamba_ssm.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/mamba/test_full_model.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/mamba/test_mamba_model.py
Labels: mamba

#10737 Migrate `ssm_prefix_scan` to `ttnn`
  models/demos/wormhole/mamba/tt/mamba_ssm.py
  tests/ttnn/unit_tests/operations/test_ssm_prefix_scan.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/transformer_tms.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/transformers/module.hpp
  ttnn/cpp/ttnn/operations/experimental/experimental_pybind.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/kernels/reader_ssm_prefix_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/kernels/ssm_prefix_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/kernels/writer_ssm_prefix_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_op.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_op.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/prefix_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/prefix_scan.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/prefix_scan_pybind.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/prefix_scan_pybind.hpp
Labels: ttnn-merge

#10850 Add Mixtral Perplexity and Top-1/5 tests to CI
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_perplexity.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_topk.py
  tests/scripts/t3000/run_t3000_perplexity_tests.sh
Labels: mixtral, LLM_feature

#10827 #10564: Code clean for bw, complex ops
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_angle.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_conj.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_cplx_abs.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_cplx_add.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_cplx_div.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_cplx_mul.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_cplx_recip.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_cplx_sub.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_imag.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_polar.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_real.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_backward_complex_ops.py
  tests/ttnn/unit_tests/operations/backward/test_backward_softshrink.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/backward/backward_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/backward/backward_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/reduce_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_backward_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary/complex_binary_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary/device/complex_binary_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary/device/complex_binary_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary_backward/complex_binary_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary_backward/device/complex_binary_backward_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/complex_unary.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/complex_unary_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/device/complex_unary_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/device/complex_unary_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/complex_unary_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/device/complex_unary_backward_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward_pybind.hpp
Labels: MCW

#10807 Use 8x8 core grid in Mamba performance tests
  tests/scripts/run_performance.sh
Labels: mamba

#10886 #0: Fix redundant wording in documentation
  docs/source/tt-metalium/tt_metal/examples/matmul_multi_core.rst
  docs/source/tt-metalium/tt_metal/examples/matmul_multi_core_optimizations/data_reuse.rst
  docs/source/tt-metalium/tt_metal/examples/matmul_single_core.rst
Labels: docs

#10843 #10583: Enable async mode for all testing scripts to improve throughput
  models/demos/t3000/falcon40b/tests/ci/test_falcon_end_to_end_1_layer_t3000.py
  models/demos/t3000/falcon40b/tests/ci/test_falcon_end_to_end_60_layer_t3000_prefill_10_loops.py
  models/demos/t3000/falcon40b/tests/test_demo.py
  models/demos/t3000/falcon40b/tests/test_falcon_end_to_end.py
  models/demos/t3000/falcon40b/tests/test_perf_falcon.py
  models/demos/t3000/falcon40b/tt/falcon_mlp.py
Labels: LLM_feature, prefill

#10906 Add perplexity tests for Mamba single-chip model
  models/demos/wormhole/mamba/tests/test_mamba_perplexity.py
  models/demos/wormhole/mamba/tt/mamba_block.py
  models/demos/wormhole/mamba/tt/mamba_model.py
  models/demos/wormhole/mamba/tt/mamba_ssm.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/mamba/test_mamba_perplexity.py
Labels: mamba

#10884 #10879: Specify explicit extensions of source files in CMakeLists.txt
  cmake/helper_functions.cmake
  tests/tt_eager/CMakeLists.txt
  tests/tt_metal/tt_metal/CMakeLists.txt
  tests/tt_metal/tt_metal/perf_microbenchmark/CMakeLists.txt
  tt_metal/programming_examples/CMakeLists.txt
  tt_metal/programming_examples/contributed/CMakeLists.txt
  tt_metal/programming_examples/profiler/CMakeLists.txt
Labels: moreh
