Repository tenstorrent/tt-metal, pull requests merged in 2025-04, with the labels that each got.

#19954 fix: llk: also reconfigure unpacker when unpack_dst_format differs
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_common_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_unpack_common_api.h
Labels: moreh, LLK

#19028 #18832: Use DeviceCommandCalculator instead of host alignment
  tt_metal/impl/buffers/dispatch.cpp
  tt_metal/impl/dispatch/device_command_calculator.hpp
  tt_metal/impl/event/dispatch.cpp
  tt_metal/impl/program/dispatch.cpp
Labels: fast-dispatch

#19814 Flush denormal inputs to zero
  tt_metal/impl/data_format/bfloat4.cpp
  tt_metal/impl/data_format/bfloat8.cpp
  tt_metal/impl/data_format/blockfloat_common.cpp
Labels: tensor, data_formats

#19431 tt_transformers: Enable support for non-uniform decoder configurations
  models/tt_transformers/demo/config_16_decoders.json
  models/tt_transformers/demo/conftest.py
  models/tt_transformers/demo/simple_text_demo.py
  models/tt_transformers/lt
  models/tt_transformers/tests/configurations/conf0.json
  models/tt_transformers/tests/configurations/conf1.json
  models/tt_transformers/tests/configurations/conf2.json
  models/tt_transformers/tests/configurations/conf3.json
  models/tt_transformers/tests/conftest.py
  models/tt_transformers/tests/test_accuracy.py
  models/tt_transformers/tests/test_chunked_generation.py
  models/tt_transformers/tests/test_model.py
  models/tt_transformers/tests/test_model_prefill.py
  models/tt_transformers/tt/attention.py
  models/tt_transformers/tt/decoder.py
  models/tt_transformers/tt/mlp.py
  models/tt_transformers/tt/model.py
  models/tt_transformers/tt/model_config.py
Labels: data_formats

#20831 tt_transformers/tests/test_accuracy: Fix possible out-of-bound bug
  models/tt_transformers/tests/test_accuracy.py
Labels: bug

#20335 Speed up & clean up host layout conversion
  tests/tt_metal/test_utils/tilization.hpp
  tests/tt_metal/tt_metal/CMakeLists.txt
  tests/tt_metal/tt_metal/api/test_tilize_untilize.cpp
  tests/tt_metal/tt_metal/benchmark/CMakeLists.txt
  tests/tt_metal/tt_metal/benchmark/host_tilizer_untilizer/tilizer_untilizer.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_X_tile.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_large_block.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_multi_core_X_dram.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_multi_core_multi_dram_in0_mcast_in1_mcast.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_multi_core_multi_dram_inX_mcast.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_single_core.cpp
  tests/tt_metal/tt_metal/llk/test_reduce.cpp
  tests/tt_metal/tt_metal/llk/test_transpose.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/10_dram_read_remote_cb_sync/test_dram_read_remote_cb.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/11_remote_cb_sync_matmul_single_core/test_remote_cb_sync_matmul.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/1_compute_mm/test_compute_mm.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/old/matmul/matmul_global_l1.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/old/matmul/matmul_local_l1.cpp
  tests/tt_metal/tt_metal/test_bcast.cpp
  tests/tt_metal/tt_metal/test_bfp4_conversion.cpp
  tests/tt_metal/tt_metal/test_bfp8_conversion.cpp
  tests/tt_metal/tt_metal/test_bmm.cpp
  tests/tt_metal/tt_metal/test_datacopy_multi_core_multi_dram.cpp
  tests/tt_metal/tt_metal/test_generic_binary_reader_matmul_large_block.cpp
  tests/tt_metal/tt_metal/test_matmul_large_block.cpp
  tests/tt_metal/tt_metal/test_matmul_multi_core_multi_dram.cpp
  tests/tt_metal/tt_metal/test_matmul_multi_core_multi_dram_in0_mcast.cpp
  tests/tt_metal/tt_metal/test_matmul_multi_core_multi_dram_in0_mcast_in1_mcast.cpp
  tests/tt_metal/tt_metal/test_matmul_multi_core_multi_dram_in1_mcast.cpp
  tests/tt_metal/tt_metal/test_matmul_multi_core_single_dram.cpp
  tests/tt_metal/tt_metal/test_matmul_multi_tile.cpp
  tests/tt_metal/tt_metal/test_matmul_single_core.cpp
  tests/tt_metal/tt_metal/test_matmul_single_core_small.cpp
  tests/tt_metal/tt_metal/test_matmul_single_tile_output_in_l1.cpp
  tests/tt_metal/tt_metal/test_multiple_programs.cpp
  tests/tt_metal/tt_metal/test_transpose_hc.cpp
  tt_metal/api/tt-metalium/tilize_utils.hpp
  tt_metal/impl/data_format/tilize_utils.cpp
  tt_metal/programming_examples/matmul_multi_core/matmul_multi_core.cpp
  tt_metal/programming_examples/matmul_multicore_reuse/matmul_multicore_reuse.cpp
  tt_metal/programming_examples/matmul_multicore_reuse_mcast/matmul_multicore_reuse_mcast.cpp
  tt_metal/programming_examples/matmul_single_core/matmul_single_core.cpp
  ttnn/cpp/ttnn/tensor/tensor_impl.hpp
Labels: host performance optimization, feature

#20922 tt_transformets/tt/model_config: Fix typo in parse_optimization
  models/tt_transformers/tt/model_config.py
Labels: bug

#20882 #20682: Remove `total_size = 0` restriction in `CircularBufferConfig`
  tt_metal/impl/buffers/circular_buffer_types.cpp
Labels: moreh

#20999 Clear set tracking device ids in database between test runs
  tests/ttnn/conftest.py
Labels: bug, reports

#21125 Speed up host padding
  tests/tt_metal/tt_metal/CMakeLists.txt
  tests/ttnn/CMakeLists.txt
  tests/ttnn/benchmark/cpp/CMakeLists.txt
  tests/ttnn/benchmark/cpp/host_tilizer_untilizer/tilizer_untilizer.cpp
  tests/ttnn/benchmark/cpp/padding/pad_rm.cpp
  tests/ttnn/benchmark/python/benchmark_from_torch.py
  tt_metal/python_env/requirements-dev.txt
  ttnn/cpp/ttnn/tensor/tensor_impl.cpp
Labels: host performance optimization
